.flows.json.backup
[{"id":"d71c67f7.8fae88","type":"tab","label":"Heating Automations","disabled":false,"info":""},{"id":"421f876.1f97178","type":"tab","label":"Vestibule Lights","disabled":false,"info":""},{"id":"76c15f10.6ec1d","type":"tab","label":"Kitchen Lights","disabled":false,"info":""},{"id":"1b4a4b6e.ef22b5","type":"tab","label":"Night Light","disabled":false,"info":"Various lighting automations"},{"id":"80986a73.cdb938","type":"tab","label":"Movie Lights","disabled":false,"info":""},{"id":"e07c95c3.4c6e18","type":"tab","label":"Weekday Morning Lighting","disabled":false,"info":""},{"id":"c3fc35bc.ab3bc8","type":"tab","label":"Livingroom","disabled":false,"info":""},{"id":"17d03c7e.d8a2a4","type":"tab","label":"Vestibule","disabled":false,"info":""},{"id":"2da07ac3.ba25d6","type":"tab","label":"Office","disabled":false,"info":""},{"id":"f008066a.751518","type":"tab","label":"Kitchen","disabled":false,"info":""},{"id":"a5dfbe5f.01ca6","type":"tab","label":"Katrin","disabled":false,"info":""},{"id":"738b155d.d6a95c","type":"tab","label":"Bedroom","disabled":false,"info":""},{"id":"2cd6fd42.e36db2","type":"tab","label":"Nightly Shutdown","disabled":false,"info":""},{"id":"5ad4c9a7.912cc8","type":"tab","label":"Zaphod Kodi","disabled":true,"info":""},{"id":"52d90fdb.f7f76","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"e76a7d8e.947ca","type":"tab","label":"Floorplan","disabled":true,"info":""},{"id":"fb2364d7.974c78","type":"tab","label":"Dev Presence Utils","disabled":false,"info":""},{"id":"40da9d9f.9148d4","type":"tab","label":"Occupancy","disabled":false,"info":""},{"id":"a0513f41.a1ba8","type":"tab","label":"Shutdown Button","disabled":false,"info":""},{"id":"f854398.ceae4c8","type":"tab","label":"Migraine Mode","disabled":false,"info":""},{"id":"7b68c44b.80c7ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"53e95f6a.1a1d2","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"bfbe35b3.74ce88","type":"subflow","name":"HASS Websocket","info":"","in":[{"x":580,"y":160,"wires":[]}],"out":[{"x":1260,"y":20,"wires":[]},{"x":1120,"y":60,"wires":[]},{"x":1120,"y":100,"wires":[]},{"x":1260,"y":140,"wires":[]},{"x":780,"y":160,"wires":[]}]},{"id":"2c578480.b4f04c","type":"subflow","name":"When Dark","info":"This node will only output when its dark\n\nmsg.state will be set to on when its dark\n\n","in":[{"x":100,"y":320,"wires":[{"id":"84e37e4d.99f0a"}]}],"out":[{"x":1020,"y":320,"wires":[{"id":"e234948.52afd68","port":0}]}]},{"id":"3fef2bf4.81c014","type":"websocket-client","z":"","path":"ws://192.168.13.1:8123/api/websocket","wholemsg":"false"},{"id":"e234b5a3.997ec8","type":"light-scheduler-settings","z":"","name":"Squiggle-Bear Hoose","latitude":"55.937008","longitude":"-3.2777648"},{"id":"67b844ab.e642dc","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Heating","hideToolbar":"true","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5ed55cb1.3cf4b4","type":"server","z":"","name":"Home Assistant","url":"http://192.168.13.1:8123","pass":"HomeControl42!"},{"id":"d1111e8.77952e","type":"ui_tab","z":"","name":"Heating","icon":"dashboard","order":1},{"id":"74f09516.cb4a1c","type":"ui_group","z":"2da07ac3.ba25d6","name":"Office","tab":"d1111e8.77952e","disp":true,"width":"6"},{"id":"40b29bce.b99544","type":"ui_group","z":"17d03c7e.d8a2a4","name":"Vestibule","tab":"d1111e8.77952e","disp":true,"width":"6"},{"id":"705ce43d.6b0cdc","type":"ui_group","z":"","name":"Kitchen","tab":"d1111e8.77952e","disp":true,"width":"6"},{"id":"8df37ae9.a78368","type":"ui_group","z":"c3fc35bc.ab3bc8","name":"Livingroom","tab":"d1111e8.77952e","disp":true,"width":"6"},{"id":"e14a139b.6d415","type":"ui_group","z":"a5dfbe5f.01ca6","name":"Katrin","tab":"d1111e8.77952e","disp":true,"width":"6"},{"id":"ebe75be.ea3cca8","type":"ui_group","z":"738b155d.d6a95c","name":"Bedroom","tab":"d1111e8.77952e","disp":true,"width":"6"},{"id":"feaffb51.2d5958","type":"mqtt-broker","z":"","broker":"192.168.13.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f0658709.b8f6b8","type":"ui_tab","z":"","name":"Multimedia","icon":"tv"},{"id":"ccb05a85.198a38","type":"ui_group","z":"","name":"Kodi Remote Control","tab":"f0658709.b8f6b8","disp":false,"width":"6"},{"id":"62ee8d7d.d12214","type":"kodi-controller","z":"","name":"Zaphod","host":"192.168.13.21","port":"9090"},{"id":"3138e409.370c7c","type":"ui_group","z":"","name":"Default","tab":"e549cbf6.fb4698","disp":true,"width":"6"},{"id":"e549cbf6.fb4698","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"aa84a1e0.726be","type":"websocket in","z":"bfbe35b3.74ce88","name":"HASS (websocket receive)","server":"","client":"3fef2bf4.81c014","x":190,"y":100,"wires":[["c17a37a5.97e738"]]},{"id":"45aa65b2.8fdfac","type":"websocket out","z":"bfbe35b3.74ce88","name":"HASS (websocket send)","server":"","client":"3fef2bf4.81c014","x":750,"y":120,"wires":[]},{"id":"c17a37a5.97e738","type":"json","z":"bfbe35b3.74ce88","name":"","x":370,"y":100,"wires":[["ef31de17.40bcc"]]},{"id":"ef31de17.40bcc","type":"function","z":"bfbe35b3.74ce88","name":"Verify Request","func":"if(msg.payload.type == \"auth_required\") {\n    var msg_auth = {payload:{\"type\": \"auth\",\"api_password\": \"HomeControl42!\"}};\n    return [null, msg_auth, null];\n}else if(msg.payload.type == \"auth_ok\") {\n    var msg_sub = {payload:{\"id\": 18,\"type\": \"subscribe_events\"}};\n    return [null, msg_sub, null];\n}else if(msg.payload.type == \"result\") {\n    if(msg.payload.success === false) {\n        return [null, null, msg];\n    }else{\n        return [null, null, null];\n    }\n}else{\n    return [msg, null, null];\n}","outputs":"3","noerr":0,"x":520,"y":100,"wires":[["38a237e8.1e1b88"],["45aa65b2.8fdfac"],["5693b61a.6dcde8"]]},{"id":"38a237e8.1e1b88","type":"change","z":"bfbe35b3.74ce88","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[["ad28cb1e.862758"]]},{"id":"5693b61a.6dcde8","type":"function","z":"bfbe35b3.74ce88","name":"Error","func":"msg.payload = \"Websocket Error #\"+msg.payload.error.code+\": \"+msg.payload.error.message;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":160,"wires":[[]]},{"id":"ad28cb1e.862758","type":"switch","z":"bfbe35b3.74ce88","name":"Event Type","property":"payload.event_type","propertyType":"msg","rules":[{"t":"eq","v":"state_changed","vt":"str"},{"t":"eq","v":"homeassistant_start","vt":"str"},{"t":"eq","v":"zwave.network_ready","vt":"str"},{"t":"eq","v":"zwave.scene_activated","vt":"str"}],"checkall":"false","outputs":4,"x":950,"y":80,"wires":[["f35d9338.b5a14"],[],[],["633b881.d371678"]]},{"id":"f35d9338.b5a14","type":"function","z":"bfbe35b3.74ce88","name":"","func":"var entity_parts = msg.payload.data.entity_id.split(\".\");\nvar time_fired = msg.payload.time_fired;\nvar domain = entity_parts[0];\nvar entity = entity_parts[1];\nvar entity_id = msg.payload.data.entity_id;\nif(msg.payload.data.new_state) {\n    var new_state = msg.payload.data.new_state.state;\n    var name = msg.payload.data.new_state.attributes.friendly_name;\n}\nif(msg.payload.data.old_state) {\n    var old_state = msg.payload.data.old_state.state;\n    var name = msg.payload.data.old_state.attributes.friendly_name;\n}\nmsg.payload = \"\";\nmsg.payload = {\n    \"time_fired\":time_fired,\n    \"domain\":domain,\n    \"entity\":entity,\n    \"entity_id\":entity_id,\n    \"new_state\":new_state,\n    \"old_state\":old_state,\n    \"name\":name\n};\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":20,"wires":[[]]},{"id":"633b881.d371678","type":"function","z":"bfbe35b3.74ce88","name":"","func":"var time_fired = msg.payload.time_fired;\nvar scene_id = msg.payload.data.scene_id;\nvar object_id = msg.payload.data.object_id;\nvar entity_id = msg.payload.data.entity_id;\nmsg.payload = \"\";\nmsg.payload = {\n    \"time_fired\":time_fired,\n    \"scene_id\":scene_id,\n    \"object_id\":object_id,\n    \"entity_id\":entity_id\n}\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":140,"wires":[[]]},{"id":"aeed67c5.0deff8","type":"bigtimer","z":"d71c67f7.8fae88","outtopic":"","outpayload1":"online","outpayload2":"offline","name":"Heating On Weekday Mornings","lat":"55.937008","lon":"-3.2777648","starttime":"300","endtime":"450","startoff":"0","endoff":0,"offs":0,"outtext1":"online","outtext2":"offline","timeout":1440,"sun":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":150,"y":80,"wires":[["6efb7764.b7ff28"],[],[]]},{"id":"99d85b6a.48b568","type":"api-call-service","z":"d71c67f7.8fae88","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":700,"y":240,"wires":[]},{"id":"5d994b94.4711c4","type":"bigtimer","z":"d71c67f7.8fae88","outtopic":"","outpayload1":"online","outpayload2":"offline","name":"Heating On Weekend Mornings","lat":"55.937008","lon":"-3.2777648","starttime":"450","endtime":"570","startoff":"0","endoff":0,"offs":0,"outtext1":"online","outtext2":"offline","timeout":1440,"sun":true,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":true,"jan":true,"feb":true,"mar":true,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":false,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":150,"y":140,"wires":[["6efb7764.b7ff28"],[],[]]},{"id":"b03ab94f.e4f6f8","type":"bigtimer","z":"d71c67f7.8fae88","outtopic":"","outpayload1":"online","outpayload2":"offline","name":"Heating Off Weekend Nights","lat":"55.937008","lon":"-3.2777648","starttime":"0","endtime":"0","startoff":"0","endoff":0,"offs":0,"outtext1":"online","outtext2":"offline","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":140,"y":260,"wires":[["6efb7764.b7ff28"],[],[]]},{"id":"abd8b6d5.a89918","type":"bigtimer","z":"d71c67f7.8fae88","outtopic":"","outpayload1":"online","outpayload2":"offline","name":"Heating Off Weekday Nights","lat":"55.937008","lon":"-3.2777648","starttime":"1350","endtime":"1350","startoff":"0","endoff":"0","offs":0,"outtext1":"online","outtext2":"offline","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":140,"y":200,"wires":[["6efb7764.b7ff28"],[],[]]},{"id":"6efb7764.b7ff28","type":"function","z":"d71c67f7.8fae88","name":"Heating Controller!","func":"function createNewMessage(temp, operation, room) {\n    var result = {\n        msg : {\n            payload : {\n                domain : \"climate\",\n                service : \"set_temperature\",\n                data : {\n                    entity_id : \"climate.\" + room,\n                    temperature : temp,\n                    operation_mode : operation\n                }\n            } \n        }\n    };\n    \n    return result;\n}\nvar now = new Date();\n\n// What rooms get turned on what days\nvar rooms = [\n    {name : \"bedroom\",   target : \"20\", days : [\"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\"]},\n    {name : \"katrin\",    target : \"21\", days : []},\n    {name : \"kitchen\",   target : \"19\", days : [\"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\"]},\n    {name : \"livingroom\",target : \"19\", days : [\"Saturday\", \"Sunday\"]},\n    {name : \"Office\",    target : \"19\", days : []},\n    {name : \"Vestibule\", target : \"18\", days : [\"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\", \"Sunday\"]},\n    ];\nvar heatingStatusMsg = \"Setting \";\nvar idleCount = 0;\nfor (var index in rooms) {\n    // Are we turning heating on today in this room?\n    var day = rooms[index].days[ now.getDay() ];\n    var switchHeatingOn = msg.payload === \"online\" && day !== undefined;\n    // What temperature and mode should it be \n    var temp = switchHeatingOn ? rooms[index].target : \"8\";\n    var operation = switchHeatingOn ? \"Heat\" : \"Idle\";\n    \n    if (operation == \"Idle\")\n       idleCount++;\n    heatingStatusMsg += rooms[index].name + \" to \" + (switchHeatingOn ? temp + \" degrees\" : \"idle\");\n    if (index < rooms.length) {\n        heatingStatusMsg += \", \";\n    }\n\n    var result = createNewMessage(temp, operation, rooms[index].name);\n    \n    node.send(result.msg, null);\n}\nif (idleCount == rooms.length)\n{\n    heatingStatusMsg = \"Setting heating system to idle.\"\n}\nvar updateMsg = {\n    payload : {\n        data : {\n            message : heatingStatusMsg\n        }\n    }\n}\n\nnode.send([[null], [updateMsg]]);\nnode.on(\"close\", function() {\n    \n});\n\nreturn;","outputs":"2","noerr":0,"x":490,"y":200,"wires":[["d158d189.89189"],["99d85b6a.48b568"]]},{"id":"d158d189.89189","type":"api-call-service","z":"d71c67f7.8fae88","name":"Set Thermostat","server":"5ed55cb1.3cf4b4","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate.kitchen\"}","x":700,"y":160,"wires":[]},{"id":"1844d933.68b617","type":"comment","z":"d71c67f7.8fae88","name":"Work out when to turn on or off the heating","info":"","x":180,"y":20,"wires":[]},{"id":"e62ba73c.763d28","type":"comment","z":"d71c67f7.8fae88","name":"Work out what room and temp is active today","info":"","x":490,"y":60,"wires":[]},{"id":"55ccf631.33a9a8","type":"comment","z":"d71c67f7.8fae88","name":"Set the thermostats and notify me","info":"","x":840,"y":40,"wires":[]},{"id":"e87f4b2a.40d838","type":"bigtimer","z":"e07c95c3.4c6e18","outtopic":"","outpayload1":"online","outpayload2":"offline","name":"Weekday Morning Lights","lat":"55.937008","lon":"-3.2777648","starttime":"390","endtime":"510","startoff":"0","endoff":"0","offs":0,"outtext1":"online","outtext2":"offline","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":false,"jul":false,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":250,"y":60,"wires":[["ba1437e4.4c2c68"],[],[]]},{"id":"85673f07.d72ef","type":"api-call-service","z":"e07c95c3.4c6e18","name":"Morning Lights On","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\":\"group.Morning_Lights\" }","x":610,"y":40,"wires":[]},{"id":"ba1437e4.4c2c68","type":"switch","z":"e07c95c3.4c6e18","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"online","vt":"str"},{"t":"eq","v":"offline","vt":"str"}],"checkall":"true","outputs":2,"x":430,"y":46,"wires":[["85673f07.d72ef","66012321.d32ccc","f650b4e5.af5768"],["6154e281.9ce51c"]]},{"id":"b9e4e818.835a08","type":"api-call-service","z":"e07c95c3.4c6e18","name":"Morning Lights Off","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\":\"group.Morning_Lights\" }","x":610,"y":220,"wires":[]},{"id":"66012321.d32ccc","type":"api-call-service","z":"e07c95c3.4c6e18","name":"Fairy Lights On","server":"5ed55cb1.3cf4b4","service_domain":"switch","service":"turn_on","data":"{ \"entity_id\":\"switch.fairy_lights_switch_switch\" }","x":600,"y":100,"wires":[]},{"id":"fb56f042.9a546","type":"api-call-service","z":"e07c95c3.4c6e18","name":"FairyLights Off","server":"5ed55cb1.3cf4b4","service_domain":"switch","service":"turn_off","data":"{ \"entity_id\":\"switch.fairy_lights_switch_switch\" }","x":600,"y":280,"wires":[]},{"id":"3e41006b.193ec","type":"api-current-state","z":"c3fc35bc.ab3bc8","name":"Livingroom","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.livingroom","x":270,"y":60,"wires":[["8d23abf.7d75958","7da41b83.86fbf4"]]},{"id":"6328e091.657db","type":"inject","z":"c3fc35bc.ab3bc8","name":"Check every","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.2","x":100,"y":60,"wires":[["3e41006b.193ec"]]},{"id":"4bf59e9d.11be9","type":"comment","z":"c3fc35bc.ab3bc8","name":"Every x seconds get the thermostat state","info":"","x":194,"y":24,"wires":[]},{"id":"af324739.37ad68","type":"ui_gauge","z":"c3fc35bc.ab3bc8","name":"Thermostat","group":"8df37ae9.a78368","order":1,"width":"6","height":"3","gtype":"gage","title":"{{msg.room}} {{value}}C - {{msg.operation}}","label":"C","format":"{{msg.data.attributes.current_temperature}}","min":"5","max":"30","colors":["#009cb5","#e66f00","#ca3838"],"seg1":"10","seg2":"21","x":650,"y":20,"wires":[]},{"id":"e61c5727.9648f8","type":"ui_chart","z":"c3fc35bc.ab3bc8","name":"","group":"8df37ae9.a78368","order":4,"width":"6","height":"4","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Initialising","dot":false,"ymin":"0","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#274fd6","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":60,"wires":[[],[]]},{"id":"7da41b83.86fbf4","type":"function","z":"c3fc35bc.ab3bc8","name":"Get Target Temp","func":"var msg1 = {};\nvar msg2 = {};\n\n\nmsg1.topic = \"Current Temperature\";\nmsg1.payload = msg.data.attributes.current_temperature;\nmsg1.room = msg.data.attributes.friendly_name;\nmsg1.operation = msg.data.attributes.operation_mode;\nflow.set('savedRoom', msg1.room);\n\nmsg2.topic = \"Target Temperature\";\nmsg2.payload = msg.data.attributes.temperature;\nmsg2.room = msg.data.attributes.friendly_name;\nmsg2.operation = msg.data.attributes.operation_mode;\n//msg2.current_temp = msg.data.attributes.current_temperature\nmsg2.target_temp = msg.data.attributes.temperature;\nmsg2.enabled = true;\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":450,"y":60,"wires":[["af324739.37ad68","e61c5727.9648f8","d544df09.03bad"],["e61c5727.9648f8","93479208.2e9bd","15a08946.672b67"]]},{"id":"93479208.2e9bd","type":"ui_slider","z":"c3fc35bc.ab3bc8","name":"","label":"Target","group":"8df37ae9.a78368","order":2,"width":"5","height":"1","passthru":true,"topic":"","min":"8","max":"25","step":1,"x":630,"y":120,"wires":[["d20ed278.f585e","ac6e59e5.2107c8","7f6180e5.8e52f"]]},{"id":"d20ed278.f585e","type":"ui_text","z":"c3fc35bc.ab3bc8","group":"8df37ae9.a78368","order":3,"width":"1","height":"1","name":"Target Temp","label":"{{msg.payload}}","format":"C","layout":"row-center","x":790,"y":100,"wires":[]},{"id":"b785dfad.41fde","type":"inject","z":"c3fc35bc.ab3bc8","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":290,"y":120,"wires":[["3692ba07.da5076"]]},{"id":"3692ba07.da5076","type":"change","z":"c3fc35bc.ab3bc8","name":"Disable slider","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["93479208.2e9bd"]]},{"id":"f650b4e5.af5768","type":"api-call-service","z":"e07c95c3.4c6e18","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"It's 6.30am so I am turning on morning lights\"}","x":600,"y":160,"wires":[]},{"id":"a3bab5d8.0b61e8","type":"api-call-service","z":"e07c95c3.4c6e18","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"It's 8.30am so I am turning off morning lights\"}","x":600,"y":340,"wires":[]},{"id":"ac6e59e5.2107c8","type":"trigger","z":"c3fc35bc.ab3bc8","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"750","extend":true,"units":"ms","reset":"","name":"Final Value","x":790,"y":60,"wires":[["f7c912b6.8ecb2","32699afc.a81c46"]]},{"id":"cc6d1807.18eb08","type":"inject","z":"e07c95c3.4c6e18","name":"On","topic":"","payload":"on_override","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":70,"y":60,"wires":[["e87f4b2a.40d838"]]},{"id":"62427a7a.a05654","type":"api-call-service","z":"2cd6fd42.e36db2","name":"Turn Everything Off","server":"5ed55cb1.3cf4b4","service_domain":"script","service":"turn_on","data":"{ \"entity_id\":\"script.turn_everything_off\" }","x":714,"y":69,"wires":[]},{"id":"f860056d.6f10f8","type":"api-call-service","z":"2cd6fd42.e36db2","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Nightly shutdown\"}","x":700,"y":140,"wires":[]},{"id":"72a2e9f7.459998","type":"inject","z":"2cd6fd42.e36db2","name":"","topic":"","payload":"on_override","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":80,"wires":[["ff36cd78.7822e"]]},{"id":"ff36cd78.7822e","type":"bigtimer","z":"2cd6fd42.e36db2","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Weekday Nightly Shutdown","lat":"55.937008","lon":"-3.2777648","starttime":"0","endtime":"0","startoff":"0","endoff":"0","offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":363,"y":82,"wires":[["62427a7a.a05654","f860056d.6f10f8"],[],[]]},{"id":"e29feb84.b3c138","type":"bigtimer","z":"2cd6fd42.e36db2","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Weekend Nightly Shutdown","lat":"55.937008","lon":"-3.2777648","starttime":"60","endtime":"60","startoff":"0","endoff":"0","offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":362,"y":151,"wires":[["62427a7a.a05654","f860056d.6f10f8"],[],[]]},{"id":"345832dd.c6cf5e","type":"api-call-service","z":"5ad4c9a7.912cc8","name":"Livingroom TV","server":"5ed55cb1.3cf4b4","service_domain":"media_player","service":"turn_on","data":"{ \"entity_id\" : \"media_player.livingroom_tv\" }","x":940,"y":140,"wires":[]},{"id":"2ef4c48d.cb641c","type":"delay","z":"5ad4c9a7.912cc8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":20,"wires":[["86ef4851.4bb1e8"]]},{"id":"86ef4851.4bb1e8","type":"api-call-service","z":"5ad4c9a7.912cc8","name":"Squiggley Amp","server":"5ed55cb1.3cf4b4","service_domain":"media_player","service":"turn_on","data":"{ \"entity_id\" : \"media_player.squiggley_amp\" }","x":1040,"y":40,"wires":[]},{"id":"f552da9.9b67028","type":"delay","z":"5ad4c9a7.912cc8","name":"","pauseType":"delay","timeout":"1500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":60,"wires":[["49b93f2c.af111"]]},{"id":"49b93f2c.af111","type":"api-call-service","z":"5ad4c9a7.912cc8","name":"Zaphod","server":"5ed55cb1.3cf4b4","service_domain":"media_player","service":"turn_on","data":"{ \"entity_id\" : \"media_player.zaphod\" }","x":1040,"y":100,"wires":[]},{"id":"134f3a8f.fb51e5","type":"delay","z":"5ad4c9a7.912cc8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":100,"wires":[["86ef4851.4bb1e8","49b93f2c.af111"]]},{"id":"49c451c7.26624","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Up","group":"ccb05a85.198a38","order":18,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"arrow_upwards","payload":"{\"cmd\":\"Input.Up\"}","payloadType":"json","topic":"","x":275,"y":394,"wires":[["3c5873c8.24adbc"]]},{"id":"a0f7b131.a50ab","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Left","group":"ccb05a85.198a38","order":20,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"arrow_back","payload":"{\"cmd\":\"Input.Left\"}","payloadType":"json","topic":"","x":119,"y":456,"wires":[["3c5873c8.24adbc"]]},{"id":"4f8946e3.ebd2f8","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Right","group":"ccb05a85.198a38","order":22,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"arrow_forward","payload":"{\"cmd\":\"Input.Right\"}","payloadType":"json","topic":"","x":424,"y":449,"wires":[["3c5873c8.24adbc"]]},{"id":"84708ad6.2821b8","type":"ui_button","z":"5ad4c9a7.912cc8","name":"down","group":"ccb05a85.198a38","order":24,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"arrow_downward","payload":"{\"cmd\":\"Input.Down\"}","payloadType":"json","topic":"","x":261,"y":501,"wires":[["3c5873c8.24adbc"]]},{"id":"7a3b74cd.c4ff7c","type":"ui_switch","z":"5ad4c9a7.912cc8","name":"All On/Off ","label":"","group":"ccb05a85.198a38","order":2,"width":"4","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"payload\":{\"service\":\"turn_on\"}}","onvalueType":"json","onicon":"fa-power-off","oncolor":"green","offvalue":"{\"payload\":{\"service\":\"turn_off\"}}","offvalueType":"json","officon":"fa-power-off","offcolor":"red","x":280,"y":58.750000953674316,"wires":[["f552da9.9b67028","2ef4c48d.cb641c","134f3a8f.fb51e5","345832dd.c6cf5e"]]},{"id":"7881b8a7.585d08","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Select","group":"ccb05a85.198a38","order":21,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"select_all","payload":"{\"cmd\":\"Input.Select\"}","payloadType":"json","topic":"","x":265,"y":452,"wires":[["3c5873c8.24adbc"]]},{"id":"3c5873c8.24adbc","type":"kodi-out","z":"5ad4c9a7.912cc8","name":"Zaphod","controller":"62ee8d7d.d12214","unit_number":"1","output":"1","kodicommand":"","x":923.7500152587891,"y":360.0000057220459,"wires":[]},{"id":"980e9a3b.75dd98","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Volume Down","group":"ccb05a85.198a38","order":8,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"volume_down","payload":"{\"domain\":\"script\",\"data\":{\"mediaplayer\":\"squiggley_amp\"},\"service\":\"zaphod_volume_down\"}","payloadType":"json","topic":"","x":152,"y":212,"wires":[["843bbb9d.32e7c8"]]},{"id":"779d72dd.6d576c","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Mute","group":"ccb05a85.198a38","order":9,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"volume_off","payload":"{\"service\":\"volume_mute\"}","payloadType":"json","topic":"","x":306.7500190734863,"y":214.75000190734863,"wires":[["61f76cbf.db4c54"]]},{"id":"e7d69a28.5d60b8","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Volume Up","group":"ccb05a85.198a38","order":10,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"volume_up","payload":"{\"domain\":\"script\",\"data\":{\"mediaplayer\":\"squiggley_amp\"},\"service\":\"zaphod_volume_up\"}","payloadType":"json","topic":"","x":464,"y":213,"wires":[["843bbb9d.32e7c8","2d7c6d92.a2d472"]]},{"id":"c5e10c4b.a4c9b","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Full Screen","group":"ccb05a85.198a38","order":11,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"crop_free","payload":"{\"cmd\":\"GUI.fullscreen\"}","payloadType":"json","topic":"","x":140,"y":264,"wires":[["3c5873c8.24adbc"]]},{"id":"d78a41cb.09c06","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Information","group":"ccb05a85.198a38","order":12,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"info","payload":"{\"cmd\":\"Input.Info\"}","payloadType":"json","topic":"","x":324,"y":265,"wires":[["3c5873c8.24adbc"]]},{"id":"440a9864.061c08","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Keyboard","group":"ccb05a85.198a38","order":13,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"keyboard","payload":"{\"cmd\":\"Input.Up\"}","payloadType":"json","topic":"","x":476,"y":261,"wires":[[]]},{"id":"2cdfc6bd.f88e0a","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Menu","group":"ccb05a85.198a38","order":16,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"menu","payload":"{\"cmd\":\"Input.ContextMenu\"}","payloadType":"json","topic":"","x":475,"y":318,"wires":[["3c5873c8.24adbc"]]},{"id":"37d13437.1f7dec","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Dunno","group":"ccb05a85.198a38","order":14,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"motorcycle","payload":"{\"cmd\":\"Input.Up\"}","payloadType":"json","topic":"","x":126,"y":311,"wires":[[]]},{"id":"304d866d.5c614a","type":"ui_button","z":"5ad4c9a7.912cc8","name":"blank","group":"ccb05a85.198a38","order":15,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"str","topic":"","x":320,"y":313,"wires":[[]]},{"id":"a4f9911f.f9735","type":"ui_button","z":"5ad4c9a7.912cc8","name":"blank UL","group":"ccb05a85.198a38","order":17,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"str","topic":"","x":125,"y":388,"wires":[[]]},{"id":"5f2cf793.9f1128","type":"ui_button","z":"5ad4c9a7.912cc8","name":"blank UR","group":"ccb05a85.198a38","order":19,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"str","topic":"","x":436,"y":401,"wires":[[]]},{"id":"31bcd76.5df2928","type":"ui_button","z":"5ad4c9a7.912cc8","name":"blank LR","group":"ccb05a85.198a38","order":25,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"","payload":"","payloadType":"str","topic":"","x":433,"y":502,"wires":[[]]},{"id":"8da189f9.9585f8","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Back","group":"ccb05a85.198a38","order":23,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"keyboard_return","payload":"{\"cmd\":\"Input.Back\"}","payloadType":"json","topic":"","x":114,"y":505,"wires":[["3c5873c8.24adbc"]]},{"id":"843bbb9d.32e7c8","type":"api-call-service","z":"5ad4c9a7.912cc8","name":"Squiggley Amp","server":"5ed55cb1.3cf4b4","service_domain":"script","service":"zaphod_volume_up","data":"{ \"entity_id\" : \"media_player.squiggley_amp\" }","x":949.0000152587891,"y":192.25000190734863,"wires":[]},{"id":"6b9350e2.2ecde","type":"ui_button","z":"5ad4c9a7.912cc8","name":"images","group":"ccb05a85.198a38","order":7,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"image","payload":"{\"cmd\":\"GUI.ActivateWindow\",\"params\":{\"window\":\"pictures\"},\"id\":1}","payloadType":"json","topic":"","x":517,"y":159,"wires":[["3c5873c8.24adbc"]]},{"id":"f16c20c3.0bcdf","type":"ui_button","z":"5ad4c9a7.912cc8","name":"TV Shows","group":"ccb05a85.198a38","order":6,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"tv","payload":"{\"cmd\":\"GUI.ActivateWindow\",\"params\":{\"window\":\"videos\"},\"id\":1}","payloadType":"json","topic":"","x":355,"y":158,"wires":[["3c5873c8.24adbc"]]},{"id":"6fcc16db.7a99c8","type":"ui_button","z":"5ad4c9a7.912cc8","name":"audio","group":"ccb05a85.198a38","order":4,"width":"1","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"audiotrack","payload":"{\"cmd\":\"GUI.ActivateWindow\",\"params\":{\"window\":\"music\",\"parameters\":[\"musicdb://1/\"]},\"id\":1}","payloadType":"json","topic":"","x":78,"y":161,"wires":[["3c5873c8.24adbc"]]},{"id":"a1235935.2689c8","type":"ui_button","z":"5ad4c9a7.912cc8","name":"movies","group":"ccb05a85.198a38","order":5,"width":"2","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"movie","payload":"{\"cmd\":\"GUI.ActivateWindow\",\"params\":{\"window\":\"videos\"},\"id\":1}","payloadType":"json","topic":"","x":205,"y":161,"wires":[["3c5873c8.24adbc"]]},{"id":"393b222a.83e0be","type":"inject","z":"5ad4c9a7.912cc8","name":"","topic":"enabled","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":840,"y":440,"wires":[["31bcd76.5df2928","a4f9911f.f9735","5f2cf793.9f1128","304d866d.5c614a"]]},{"id":"8566007.87b54","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Play","group":"ccb05a85.198a38","order":26,"width":"3","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"play_arrow","payload":"{\"service\":\"media_play_pause\"}","payloadType":"json","topic":"","x":156,"y":564,"wires":[["61f76cbf.db4c54"]]},{"id":"ac63d2f5.e5881","type":"ui_button","z":"5ad4c9a7.912cc8","name":"Stop","group":"ccb05a85.198a38","order":27,"width":"3","height":"1","passthru":false,"label":"","color":"","bgcolor":"black","icon":"stop","payload":"{\"service\":\"media_stop\"}","payloadType":"json","topic":"","x":320,"y":561,"wires":[["61f76cbf.db4c54"]]},{"id":"61f76cbf.db4c54","type":"api-call-service","z":"5ad4c9a7.912cc8","name":"Zaphod","server":"5ed55cb1.3cf4b4","service_domain":"media_player","service":"","data":"{ \"entity_id\" : \"media_player.zaphod\" }","x":759,"y":540,"wires":[]},{"id":"305be8d7.e712b8","type":"server-state-changed","z":"5ad4c9a7.912cc8","name":"volume","server":"5ed55cb1.3cf4b4","entityidfilter":"states.media_player.squiggley_amp.attributes.volume_level","haltifstate":"","x":223.75,"y":746.2500114440918,"wires":[["304d866d.5c614a","b12f143b.2ec898"]]},{"id":"b12f143b.2ec898","type":"debug","z":"5ad4c9a7.912cc8","name":"","active":true,"console":"false","complete":"payload","x":508.125,"y":665,"wires":[]},{"id":"2d7c6d92.a2d472","type":"debug","z":"5ad4c9a7.912cc8","name":"","active":true,"console":"false","complete":"payload","x":941.25,"y":252.5,"wires":[]},{"id":"b7847827.8e4b98","type":"ui_switch","z":"5ad4c9a7.912cc8","name":"Amp On/Off ","label":"","group":"ccb05a85.198a38","order":3,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"payload\":{\"service\":\"turn_on\"}}","onvalueType":"json","onicon":"fa-power-off","oncolor":"green","offvalue":"{\"payload\":{\"service\":\"turn_off\"}}","offvalueType":"json","officon":"fa-power-off","offcolor":"red","x":290,"y":20,"wires":[["86ef4851.4bb1e8"]]},{"id":"24d745da.6c2cba","type":"ui_dropdown","z":"5ad4c9a7.912cc8","name":"Select Profile","label":"","place":"Select Profile","group":"ccb05a85.198a38","order":1,"width":"6","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"},{"label":"Squiggley","value":"{\"cmd\":\"Profiles.LoadProfile\",\"params\":{\"profile\":\"Squiggley\"},\"id\":1}","type":"str"},{"label":"WeeBear","value":"{\"cmd\":\"Profiles.LoadProfile\",\"params\":{\"profile\":\"Wee Bear\"},\"id\":1}","type":"str"}],"payload":"","topic":"","x":453.75000381469727,"y":798.7500019073486,"wires":[["a347958e.8a49d8"]]},{"id":"a347958e.8a49d8","type":"json","z":"5ad4c9a7.912cc8","name":"","pretty":false,"x":613.7500038146973,"y":798.7500019073486,"wires":[[]]},{"id":"6e8d3018.9c145","type":"ui_template","z":"52d90fdb.f7f76","group":"3138e409.370c7c","name":"blue","order":4,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":427.5,"y":278.75,"wires":[[]]},{"id":"e450a2ab.d883d","type":"ui_template","z":"52d90fdb.f7f76","group":"3138e409.370c7c","name":"red","order":2,"width":"2","height":"2","format":"\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":427.5,"y":198.75,"wires":[[]]},{"id":"c037776c.8ce398","type":"ui_template","z":"52d90fdb.f7f76","group":"3138e409.370c7c","name":"green","order":3,"width":"2","height":"2","format":"\n<md-button class=\"filled touched bigfont rounded vibrate\" style=\"background-color:#27ae60\" ng-click=\"send({payload: 'Hello World'})\"> \n    Green<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":427.5,"y":238.75,"wires":[[]]},{"id":"9700038b.73a9d","type":"ui_template","z":"52d90fdb.f7f76","group":"3138e409.370c7c","name":"","order":5,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#16a085\"   ng-click=\"send({payload: 'Hello World'})\"> \n    Blue<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":437.5,"y":358.75,"wires":[[]]},{"id":"1cfec311.9b930d","type":"ui_template","z":"52d90fdb.f7f76","group":"3138e409.370c7c","name":"","order":6,"width":"2","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#e67e22\" ng-click=\"send({payload: 'Hello World'})\"> \n    Red<br/>button\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":437.5,"y":318.75,"wires":[[]]},{"id":"d69a7868.22b598","type":"ui_template","z":"52d90fdb.f7f76","group":"3138e409.370c7c","name":"on","order":7,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#34495e\" ng-click=\"send({payload: 'Hello World'})\"> \n    On\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":427.5,"y":398.75,"wires":[[]]},{"id":"78c6f280.b02bec","type":"ui_template","z":"52d90fdb.f7f76","group":"3138e409.370c7c","name":"off","order":8,"width":"1","height":"1","format":"\n<md-button class=\"vibrate filled touched smallfont rounded\" style=\"background-color:#8e44ad\" ng-click=\"send({payload: 'Hello World'})\"> \n    Off\n</md-button> \n\n","storeOutMessages":true,"fwdInMessages":true,"x":427.5,"y":438.75,"wires":[[]]},{"id":"cdaaf99e.fa2888","type":"ui_template","z":"52d90fdb.f7f76","group":"3138e409.370c7c","name":"stuff","order":0,"width":"0","height":"0","format":"<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":307.5,"y":198.75,"wires":[[]]},{"id":"f7c912b6.8ecb2","type":"debug","z":"c3fc35bc.ab3bc8","name":"subflow input","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":240,"wires":[]},{"id":"8d23abf.7d75958","type":"debug","z":"c3fc35bc.ab3bc8","name":"check room","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","x":280,"y":320,"wires":[]},{"id":"15a08946.672b67","type":"debug","z":"c3fc35bc.ab3bc8","name":"get temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":420,"y":240,"wires":[]},{"id":"d544df09.03bad","type":"debug","z":"c3fc35bc.ab3bc8","name":"to stat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":200,"wires":[]},{"id":"7f6180e5.8e52f","type":"debug","z":"c3fc35bc.ab3bc8","name":"from slider","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":200,"wires":[]},{"id":"32699afc.a81c46","type":"function","z":"c3fc35bc.ab3bc8","name":"set temp","func":"if (msg.room === undefined) {\n    msg.room = flow.get('savedRoom') || undefined;\n}\nflow.set('savedRoom', msg.room);\nflow.set('savedTemp', msg.payload);\nif (msg.room === undefined){\n    return;\n}\n\nvar result = {\n    newmsg : {\n        room : msg.room,\n        payload : {\n            domain : \"climate\",\n            service : \"set_temperature\",\n            data : {\n                entity_id : \"climate.\" + msg.room,\n                temperature : msg.payload,\n                operation_mode : msg.operation,\n            }\n        } \n    }\n};\nvar msg = {\n    payload : {\n        data : {\n            message : msg.room + \" temperature set to \" + msg.payload\n        }\n    } \n}\nreturn [result.newmsg, msg];","outputs":"2","noerr":0,"x":960,"y":60,"wires":[["a792b2ec.03ded","96c9e01b.3872c"],["6e54ed1c.24d484"]]},{"id":"a792b2ec.03ded","type":"api-call-service","z":"c3fc35bc.ab3bc8","name":"Set Temp","server":"5ed55cb1.3cf4b4","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate_livingroom\" }","x":1180,"y":20,"wires":[]},{"id":"6e54ed1c.24d484","type":"api-call-service","z":"c3fc35bc.ab3bc8","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1180,"y":80,"wires":[]},{"id":"96c9e01b.3872c","type":"delay","z":"c3fc35bc.ab3bc8","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":540,"wires":[["fc0cea6.7381718","12a522d2.584ffd"]]},{"id":"21804de8.763cf2","type":"api-current-state","z":"c3fc35bc.ab3bc8","name":"StatToCheck","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.bedroom","x":870,"y":540,"wires":[["f4b9291c.d72818","ce3aab19.eb7938"]]},{"id":"f4b9291c.d72818","type":"function","z":"c3fc35bc.ab3bc8","name":"CheckTemp","func":"var savedTemp = flow.get('savedTemp');\nvar savedRoom = flow.get('savedRoom');\n\nif (msg.data.attributes.temperature !== savedTemp) {\n    return {\n        payload : {\n            data : {\n                message : savedRoom + \" thermostat has not stayed at set temp of \" + savedTemp\n            }\n        } \n    };\n}\nreturn null;\n","outputs":1,"noerr":0,"x":1050,"y":540,"wires":[[]]},{"id":"91aaa688.018dc8","type":"api-call-service","z":"c3fc35bc.ab3bc8","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1260,"y":540,"wires":[]},{"id":"fc0cea6.7381718","type":"debug","z":"c3fc35bc.ab3bc8","name":"delay output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":600,"wires":[]},{"id":"12a522d2.584ffd","type":"function","z":"c3fc35bc.ab3bc8","name":"Set Room","func":"msg.entity_id = msg.room;\nreturn msg;\n","outputs":1,"noerr":0,"x":720,"y":540,"wires":[["21804de8.763cf2"]]},{"id":"ce3aab19.eb7938","type":"debug","z":"c3fc35bc.ab3bc8","name":"delayed stat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":600,"wires":[]},{"id":"f689c6b2.e8c838","type":"api-current-state","z":"17d03c7e.d8a2a4","name":"Vestibule","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.vestibule","x":260,"y":80,"wires":[["d409e558.d8caf8"]]},{"id":"664c6f23.f15e2","type":"inject","z":"17d03c7e.d8a2a4","name":"Check every","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.2","x":80,"y":80,"wires":[["f689c6b2.e8c838"]]},{"id":"a0954dda.8922f","type":"comment","z":"17d03c7e.d8a2a4","name":"Every x seconds get the thermostat state","info":"","x":174,"y":44,"wires":[]},{"id":"b0dcc70a.9ad4e8","type":"ui_gauge","z":"17d03c7e.d8a2a4","name":"Thermostat","group":"40b29bce.b99544","order":1,"width":"6","height":"3","gtype":"gage","title":"{{msg.room}} {{value}}C - {{msg.operation}}","label":"C","format":"{{msg.data.attributes.current_temperature}}","min":"5","max":"30","colors":["#009cb5","#e66f00","#ca3838"],"seg1":"10","seg2":"21","x":630,"y":40,"wires":[]},{"id":"569eb2ad.a65b9c","type":"ui_chart","z":"17d03c7e.d8a2a4","name":"","group":"40b29bce.b99544","order":4,"width":"6","height":"4","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Initialising","dot":false,"ymin":"0","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#274fd6","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":80,"wires":[[],[]]},{"id":"d409e558.d8caf8","type":"function","z":"17d03c7e.d8a2a4","name":"Get Target Temp","func":"var msg1 = {};\nvar msg2 = {};\n\n\nmsg1.topic = \"Current Temperature\";\nmsg1.payload = msg.data.attributes.current_temperature;\nmsg1.room = msg.data.attributes.friendly_name;\nmsg1.operation = msg.data.attributes.operation_mode;\nflow.set('savedRoom', msg1.room);\n\nmsg2.topic = \"Target Temperature\";\nmsg2.payload = msg.data.attributes.temperature;\nmsg2.room = msg.data.attributes.friendly_name;\nmsg2.operation = msg.data.attributes.operation_mode;\n//msg2.current_temp = msg.data.attributes.current_temperature\nmsg2.target_temp = msg.data.attributes.temperature;\nmsg2.enabled = true;\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":430,"y":80,"wires":[["b0dcc70a.9ad4e8","569eb2ad.a65b9c"],["569eb2ad.a65b9c","5e31adc9.860944"]]},{"id":"5e31adc9.860944","type":"ui_slider","z":"17d03c7e.d8a2a4","name":"","label":"Target","group":"40b29bce.b99544","order":2,"width":"5","height":"1","passthru":true,"topic":"","min":"8","max":"25","step":1,"x":610,"y":140,"wires":[["587d69ab.689458","569cf28.054870c"]]},{"id":"587d69ab.689458","type":"ui_text","z":"17d03c7e.d8a2a4","group":"40b29bce.b99544","order":3,"width":"1","height":"1","name":"Target Temp","label":"{{msg.payload}}","format":"C","layout":"row-center","x":770,"y":120,"wires":[]},{"id":"d8f0cbb4.667ef8","type":"inject","z":"17d03c7e.d8a2a4","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":270,"y":140,"wires":[["48e529b0.9dd8e8"]]},{"id":"48e529b0.9dd8e8","type":"change","z":"17d03c7e.d8a2a4","name":"Disable slider","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["5e31adc9.860944"]]},{"id":"569cf28.054870c","type":"trigger","z":"17d03c7e.d8a2a4","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"750","extend":true,"units":"ms","reset":"","name":"Final Value","x":770,"y":80,"wires":[["a7ef87e4.bc9288"]]},{"id":"a7ef87e4.bc9288","type":"function","z":"17d03c7e.d8a2a4","name":"set temp","func":"if (msg.room === undefined) {\n    msg.room = flow.get('savedRoom') || undefined;\n}\nflow.set('savedRoom', msg.room);\nflow.set('savedTemp', msg.payload);\nif (msg.room === undefined){\n    return;\n}\n\nvar result = {\n    newmsg : {\n        room : msg.room,\n        payload : {\n            domain : \"climate\",\n            service : \"set_temperature\",\n            data : {\n                entity_id : \"climate.\" + msg.room,\n                temperature : msg.payload,\n                operation_mode : msg.operation,\n            }\n        } \n    }\n};\nvar msg = {\n    payload : {\n        data : {\n            message : msg.room + \" temperature set to \" + msg.payload\n        }\n    } \n}\nreturn [result.newmsg, msg];","outputs":"2","noerr":0,"x":760,"y":200,"wires":[["1d7a9815.360da8","28642c2f.f97bb4"],["1c90c53a.83405b"]]},{"id":"1d7a9815.360da8","type":"api-call-service","z":"17d03c7e.d8a2a4","name":"Set Temp","server":"5ed55cb1.3cf4b4","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate_livingroom\" }","x":980,"y":160,"wires":[]},{"id":"1c90c53a.83405b","type":"api-call-service","z":"17d03c7e.d8a2a4","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1000,"y":204,"wires":[]},{"id":"28642c2f.f97bb4","type":"delay","z":"17d03c7e.d8a2a4","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":790,"y":280,"wires":[["e061e5ef.859f58"]]},{"id":"751820ca.6283b","type":"api-current-state","z":"17d03c7e.d8a2a4","name":"StatToCheck","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.bedroom","x":790,"y":400,"wires":[["9e4d9ec8.d7573"]]},{"id":"9e4d9ec8.d7573","type":"function","z":"17d03c7e.d8a2a4","name":"CheckTemp","func":"var savedTemp = flow.get('savedTemp');\nvar savedRoom = flow.get('savedRoom');\n\nif (msg.data.attributes.temperature !== savedTemp) {\n    return {\n        payload : {\n            data : {\n                message : savedRoom + \" thermostat has not stayed at set temp of \" + savedTemp\n            }\n        } \n    };\n}\nreturn null;\n","outputs":1,"noerr":0,"x":790,"y":460,"wires":[[]]},{"id":"e60fe98b.859af8","type":"api-call-service","z":"17d03c7e.d8a2a4","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":980,"y":460,"wires":[]},{"id":"e061e5ef.859f58","type":"function","z":"17d03c7e.d8a2a4","name":"Set Room","func":"msg.entity_id = msg.room;\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":340,"wires":[["751820ca.6283b"]]},{"id":"7b28ed25.225564","type":"api-current-state","z":"2da07ac3.ba25d6","name":"Office","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.office","x":270,"y":60,"wires":[["c53c561b.0bd6e8"]]},{"id":"650097e6.5fbe78","type":"inject","z":"2da07ac3.ba25d6","name":"Check every","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.2","x":100,"y":60,"wires":[["7b28ed25.225564"]]},{"id":"a9f7307d.6ba9a","type":"comment","z":"2da07ac3.ba25d6","name":"Every x seconds get the thermostat state","info":"","x":194,"y":24,"wires":[]},{"id":"84f83683.6e0088","type":"ui_gauge","z":"2da07ac3.ba25d6","name":"Thermostat","group":"74f09516.cb4a1c","order":1,"width":"6","height":"3","gtype":"gage","title":"{{msg.room}} {{value}}C - {{msg.operation}}","label":"C","format":"{{msg.data.attributes.current_temperature}}","min":"5","max":"30","colors":["#009cb5","#e66f00","#ca3838"],"seg1":"10","seg2":"21","x":650,"y":20,"wires":[]},{"id":"af61885d.ac8198","type":"ui_chart","z":"2da07ac3.ba25d6","name":"","group":"74f09516.cb4a1c","order":4,"width":"6","height":"4","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Initialising","dot":false,"ymin":"0","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#274fd6","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":630,"y":60,"wires":[[],[]]},{"id":"c53c561b.0bd6e8","type":"function","z":"2da07ac3.ba25d6","name":"Get Target Temp","func":"var msg1 = {};\nvar msg2 = {};\n\n\nmsg1.topic = \"Current Temperature\";\nmsg1.payload = msg.data.attributes.current_temperature;\nmsg1.room = msg.data.attributes.friendly_name;\nmsg1.operation = msg.data.attributes.operation_mode;\nflow.set('savedRoom', msg1.room);\n\nmsg2.topic = \"Target Temperature\";\nmsg2.payload = msg.data.attributes.temperature;\nmsg2.room = msg.data.attributes.friendly_name;\nmsg2.operation = msg.data.attributes.operation_mode;\n//msg2.current_temp = msg.data.attributes.current_temperature\nmsg2.target_temp = msg.data.attributes.temperature;\nmsg2.enabled = true;\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":450,"y":60,"wires":[["84f83683.6e0088","af61885d.ac8198"],["af61885d.ac8198","d5e55389.9c513"]]},{"id":"d5e55389.9c513","type":"ui_slider","z":"2da07ac3.ba25d6","name":"","label":"Target","group":"74f09516.cb4a1c","order":2,"width":"5","height":"1","passthru":true,"topic":"","min":"8","max":"25","step":1,"x":630,"y":120,"wires":[["896fa5f5.55bf68","e1b24e30.3c613"]]},{"id":"896fa5f5.55bf68","type":"ui_text","z":"2da07ac3.ba25d6","group":"74f09516.cb4a1c","order":3,"width":"1","height":"1","name":"Target Temp","label":"{{msg.payload}}","format":"C","layout":"row-center","x":790,"y":100,"wires":[]},{"id":"e561d19c.b1bac","type":"inject","z":"2da07ac3.ba25d6","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":290,"y":120,"wires":[["ac0c66d7.31e728"]]},{"id":"ac0c66d7.31e728","type":"change","z":"2da07ac3.ba25d6","name":"Disable slider","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["d5e55389.9c513"]]},{"id":"e1b24e30.3c613","type":"trigger","z":"2da07ac3.ba25d6","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"750","extend":true,"units":"ms","reset":"","name":"Final Value","x":790,"y":60,"wires":[["37d1c601.e70ffa"]]},{"id":"37d1c601.e70ffa","type":"function","z":"2da07ac3.ba25d6","name":"set temp","func":"if (msg.room === undefined) {\n    msg.room = flow.get('savedRoom') || undefined;\n}\nflow.set('savedRoom', msg.room);\nflow.set('savedTemp', msg.payload);\nif (msg.room === undefined){\n    return;\n}\n\nvar result = {\n    newmsg : {\n        room : msg.room,\n        payload : {\n            domain : \"climate\",\n            service : \"set_temperature\",\n            data : {\n                entity_id : \"climate.\" + msg.room,\n                temperature : msg.payload,\n                operation_mode : msg.operation,\n            }\n        } \n    }\n};\nvar msg = {\n    payload : {\n        data : {\n            message : msg.room + \" temperature set to \" + msg.payload\n        }\n    } \n}\nreturn [result.newmsg, msg];","outputs":"2","noerr":0,"x":780,"y":180,"wires":[["814b1253.29b31","f37f365c.2cd1a8"],["9e320b5f.fe9ae8"]]},{"id":"814b1253.29b31","type":"api-call-service","z":"2da07ac3.ba25d6","name":"Set Temp","server":"5ed55cb1.3cf4b4","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate_livingroom\" }","x":1000,"y":140,"wires":[]},{"id":"9e320b5f.fe9ae8","type":"api-call-service","z":"2da07ac3.ba25d6","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1020,"y":184,"wires":[]},{"id":"f37f365c.2cd1a8","type":"delay","z":"2da07ac3.ba25d6","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":810,"y":260,"wires":[["98440754.394648"]]},{"id":"866b186b.224418","type":"api-current-state","z":"2da07ac3.ba25d6","name":"StatToCheck","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.bedroom","x":810,"y":380,"wires":[["da491f92.17807"]]},{"id":"da491f92.17807","type":"function","z":"2da07ac3.ba25d6","name":"CheckTemp","func":"var savedTemp = flow.get('savedTemp');\nvar savedRoom = flow.get('savedRoom');\n\nif (msg.data.attributes.temperature !== savedTemp) {\n    return {\n        payload : {\n            data : {\n                message : savedRoom + \" thermostat has not stayed at set temp of \" + savedTemp\n            }\n        } \n    };\n}\nreturn null;\n","outputs":1,"noerr":0,"x":810,"y":440,"wires":[[]]},{"id":"4f3b1c5c.193d04","type":"api-call-service","z":"2da07ac3.ba25d6","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1000,"y":440,"wires":[]},{"id":"98440754.394648","type":"function","z":"2da07ac3.ba25d6","name":"Set Room","func":"msg.entity_id = msg.room;\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":320,"wires":[["866b186b.224418"]]},{"id":"bcbac8c2.c80dc8","type":"api-current-state","z":"f008066a.751518","name":"Kitchen","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.kitchen","x":300,"y":60,"wires":[["7e554eeb.b4a03"]]},{"id":"87af9c25.a7caf","type":"inject","z":"f008066a.751518","name":"Check every","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.2","x":120,"y":60,"wires":[["bcbac8c2.c80dc8"]]},{"id":"ead9ddcc.6a072","type":"comment","z":"f008066a.751518","name":"Every x seconds get the thermostat state","info":"","x":214,"y":24,"wires":[]},{"id":"d0096128.68038","type":"ui_gauge","z":"f008066a.751518","name":"Thermostat","group":"705ce43d.6b0cdc","order":1,"width":"6","height":"3","gtype":"gage","title":"{{msg.room}} {{value}}C - {{msg.operation}}","label":"C","format":"{{msg.data.attributes.current_temperature}}","min":"5","max":"30","colors":["#009cb5","#e66f00","#ca3838"],"seg1":"10","seg2":"21","x":670,"y":20,"wires":[]},{"id":"b3f31d9c.460c4","type":"ui_chart","z":"f008066a.751518","name":"","group":"705ce43d.6b0cdc","order":4,"width":"6","height":"4","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Initialising","dot":false,"ymin":"0","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#274fd6","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":60,"wires":[[],[]]},{"id":"7e554eeb.b4a03","type":"function","z":"f008066a.751518","name":"Get Target Temp","func":"var msg1 = {};\nvar msg2 = {};\n\n\nmsg1.topic = \"Current Temperature\";\nmsg1.payload = msg.data.attributes.current_temperature;\nmsg1.room = msg.data.attributes.friendly_name;\nmsg1.operation = msg.data.attributes.operation_mode;\nflow.set('savedRoom', msg1.room);\n\nmsg2.topic = \"Target Temperature\";\nmsg2.payload = msg.data.attributes.temperature;\nmsg2.room = msg.data.attributes.friendly_name;\nmsg2.operation = msg.data.attributes.operation_mode;\n//msg2.current_temp = msg.data.attributes.current_temperature\nmsg2.target_temp = msg.data.attributes.temperature;\nmsg2.enabled = true;\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":470,"y":60,"wires":[["d0096128.68038","b3f31d9c.460c4"],["b3f31d9c.460c4","897f1087.3ba54"]]},{"id":"897f1087.3ba54","type":"ui_slider","z":"f008066a.751518","name":"","label":"Target","group":"705ce43d.6b0cdc","order":2,"width":"5","height":"1","passthru":true,"topic":"","min":"8","max":"25","step":1,"x":650,"y":120,"wires":[["9fecb0ba.243ae","24fd7c14.f0dd54"]]},{"id":"9fecb0ba.243ae","type":"ui_text","z":"f008066a.751518","group":"705ce43d.6b0cdc","order":3,"width":"1","height":"1","name":"Target Temp","label":"{{msg.payload}}","format":"C","layout":"row-center","x":810,"y":100,"wires":[]},{"id":"59c95479.ebf9fc","type":"inject","z":"f008066a.751518","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":310,"y":120,"wires":[["f5f9ab16.4ed5b8"]]},{"id":"f5f9ab16.4ed5b8","type":"change","z":"f008066a.751518","name":"Disable slider","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["897f1087.3ba54"]]},{"id":"24fd7c14.f0dd54","type":"trigger","z":"f008066a.751518","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"750","extend":true,"units":"ms","reset":"","name":"Final Value","x":810,"y":60,"wires":[["b804a4e0.4d79b8"]]},{"id":"b804a4e0.4d79b8","type":"function","z":"f008066a.751518","name":"set temp","func":"if (msg.room === undefined) {\n    msg.room = flow.get('savedRoom') || undefined;\n}\nflow.set('savedRoom', msg.room);\nflow.set('savedTemp', msg.payload);\nif (msg.room === undefined){\n    return;\n}\n\nvar result = {\n    newmsg : {\n        room : msg.room,\n        payload : {\n            domain : \"climate\",\n            service : \"set_temperature\",\n            data : {\n                entity_id : \"climate.\" + msg.room,\n                temperature : msg.payload,\n                operation_mode : msg.operation,\n            }\n        } \n    }\n};\nvar msg = {\n    payload : {\n        data : {\n            message : msg.room + \" temperature set to \" + msg.payload\n        }\n    } \n}\nreturn [result.newmsg, msg];","outputs":"2","noerr":0,"x":800,"y":180,"wires":[["169e0b05.6f8d65","2d51d85.9cfc328"],["5f72b00c.df94c"]]},{"id":"169e0b05.6f8d65","type":"api-call-service","z":"f008066a.751518","name":"Set Temp","server":"5ed55cb1.3cf4b4","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate_livingroom\" }","x":1020,"y":140,"wires":[]},{"id":"5f72b00c.df94c","type":"api-call-service","z":"f008066a.751518","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1040,"y":184,"wires":[]},{"id":"2d51d85.9cfc328","type":"delay","z":"f008066a.751518","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":260,"wires":[["cc19902e.cc0a5"]]},{"id":"50ad7a96.5fc204","type":"api-current-state","z":"f008066a.751518","name":"StatToCheck","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.bedroom","x":830,"y":380,"wires":[["ff49cf4e.8021c"]]},{"id":"ff49cf4e.8021c","type":"function","z":"f008066a.751518","name":"CheckTemp","func":"var savedTemp = flow.get('savedTemp');\nvar savedRoom = flow.get('savedRoom');\n\nif (msg.data.attributes.temperature !== savedTemp) {\n    return {\n        payload : {\n            data : {\n                message : savedRoom + \" thermostat has not stayed at set temp of \" + savedTemp\n            }\n        } \n    };\n}\nreturn null;\n","outputs":1,"noerr":0,"x":830,"y":440,"wires":[[]]},{"id":"ddd95992.ab8fc8","type":"api-call-service","z":"f008066a.751518","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1020,"y":440,"wires":[]},{"id":"cc19902e.cc0a5","type":"function","z":"f008066a.751518","name":"Set Room","func":"msg.entity_id = msg.room;\nreturn msg;\n","outputs":1,"noerr":0,"x":820,"y":320,"wires":[["50ad7a96.5fc204"]]},{"id":"34ae9cdf.dfd654","type":"api-current-state","z":"a5dfbe5f.01ca6","name":"Katrin","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.katrin","x":290,"y":60,"wires":[["42ad72e5.84db5c"]]},{"id":"f5c23076.f18ec","type":"inject","z":"a5dfbe5f.01ca6","name":"Check every","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.2","x":120,"y":60,"wires":[["34ae9cdf.dfd654"]]},{"id":"3ed342ff.55dd6e","type":"comment","z":"a5dfbe5f.01ca6","name":"Every x seconds get the thermostat state","info":"","x":214,"y":24,"wires":[]},{"id":"35d22c21.6f9624","type":"ui_gauge","z":"a5dfbe5f.01ca6","name":"Thermostat","group":"e14a139b.6d415","order":1,"width":"6","height":"3","gtype":"gage","title":"{{msg.room}} {{value}}C - {{msg.operation}}","label":"C","format":"{{msg.data.attributes.current_temperature}}","min":"5","max":"30","colors":["#009cb5","#e66f00","#ca3838"],"seg1":"10","seg2":"21","x":670,"y":20,"wires":[]},{"id":"79125e1.9ee19a","type":"ui_chart","z":"a5dfbe5f.01ca6","name":"","group":"e14a139b.6d415","order":4,"width":"6","height":"4","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Initialising","dot":false,"ymin":"0","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#274fd6","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":60,"wires":[[],[]]},{"id":"42ad72e5.84db5c","type":"function","z":"a5dfbe5f.01ca6","name":"Get Target Temp","func":"var msg1 = {};\nvar msg2 = {};\n\n\nmsg1.topic = \"Current Temperature\";\nmsg1.payload = msg.data.attributes.current_temperature;\nmsg1.room = msg.data.attributes.friendly_name;\nmsg1.operation = msg.data.attributes.operation_mode;\nflow.set('savedRoom', msg1.room);\n\nmsg2.topic = \"Target Temperature\";\nmsg2.payload = msg.data.attributes.temperature;\nmsg2.room = msg.data.attributes.friendly_name;\nmsg2.operation = msg.data.attributes.operation_mode;\n//msg2.current_temp = msg.data.attributes.current_temperature\nmsg2.target_temp = msg.data.attributes.temperature;\nmsg2.enabled = true;\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":470,"y":60,"wires":[["35d22c21.6f9624","79125e1.9ee19a"],["79125e1.9ee19a","9ca35b3a.0496e8"]]},{"id":"9ca35b3a.0496e8","type":"ui_slider","z":"a5dfbe5f.01ca6","name":"","label":"Target","group":"e14a139b.6d415","order":2,"width":"5","height":"1","passthru":true,"topic":"","min":"8","max":"25","step":1,"x":650,"y":120,"wires":[["fc7f3a99.f8b6f8","4cf72963.680508"]]},{"id":"fc7f3a99.f8b6f8","type":"ui_text","z":"a5dfbe5f.01ca6","group":"e14a139b.6d415","order":3,"width":"1","height":"1","name":"Target Temp","label":"{{msg.payload}}","format":"C","layout":"row-center","x":810,"y":100,"wires":[]},{"id":"1ac233e4.35539c","type":"inject","z":"a5dfbe5f.01ca6","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":310,"y":120,"wires":[["1a49c800.cb5538"]]},{"id":"1a49c800.cb5538","type":"change","z":"a5dfbe5f.01ca6","name":"Disable slider","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["9ca35b3a.0496e8"]]},{"id":"4cf72963.680508","type":"trigger","z":"a5dfbe5f.01ca6","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"750","extend":true,"units":"ms","reset":"","name":"Final Value","x":810,"y":60,"wires":[["9050a84e.26eb48"]]},{"id":"9050a84e.26eb48","type":"function","z":"a5dfbe5f.01ca6","name":"set temp","func":"if (msg.room === undefined) {\n    msg.room = flow.get('savedRoom') || undefined;\n}\nflow.set('savedRoom', msg.room);\nflow.set('savedTemp', msg.payload);\nif (msg.room === undefined){\n    return;\n}\n\nvar result = {\n    newmsg : {\n        room : msg.room,\n        payload : {\n            domain : \"climate\",\n            service : \"set_temperature\",\n            data : {\n                entity_id : \"climate.\" + msg.room,\n                temperature : msg.payload,\n                operation_mode : msg.operation,\n            }\n        } \n    }\n};\nvar msg = {\n    payload : {\n        data : {\n            message : msg.room + \" temperature set to \" + msg.payload\n        }\n    } \n}\nreturn [result.newmsg, msg];","outputs":"2","noerr":0,"x":800,"y":180,"wires":[["6204ffba.36fbe","5494d6a4.c32c48"],["18fb21e.677bcde"]]},{"id":"6204ffba.36fbe","type":"api-call-service","z":"a5dfbe5f.01ca6","name":"Set Temp","server":"5ed55cb1.3cf4b4","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate_livingroom\" }","x":1020,"y":140,"wires":[]},{"id":"18fb21e.677bcde","type":"api-call-service","z":"a5dfbe5f.01ca6","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1040,"y":184,"wires":[]},{"id":"5494d6a4.c32c48","type":"delay","z":"a5dfbe5f.01ca6","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":260,"wires":[["3800efcf.340d"]]},{"id":"8d586a4a.6691b8","type":"api-current-state","z":"a5dfbe5f.01ca6","name":"StatToCheck","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.bedroom","x":830,"y":380,"wires":[["e35fa08a.72ce2"]]},{"id":"e35fa08a.72ce2","type":"function","z":"a5dfbe5f.01ca6","name":"CheckTemp","func":"var savedTemp = flow.get('savedTemp');\nvar savedRoom = flow.get('savedRoom');\n\nif (msg.data.attributes.temperature !== savedTemp) {\n    return {\n        payload : {\n            data : {\n                message : savedRoom + \" thermostat has not stayed at set temp of \" + savedTemp\n            }\n        } \n    };\n}\nreturn null;\n","outputs":1,"noerr":0,"x":830,"y":440,"wires":[[]]},{"id":"2f4fd2d.cd91f2e","type":"api-call-service","z":"a5dfbe5f.01ca6","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1020,"y":440,"wires":[]},{"id":"3800efcf.340d","type":"function","z":"a5dfbe5f.01ca6","name":"Set Room","func":"msg.entity_id = msg.room;\nreturn msg;\n","outputs":1,"noerr":0,"x":820,"y":320,"wires":[["8d586a4a.6691b8"]]},{"id":"b20374e2.ce91c8","type":"api-current-state","z":"738b155d.d6a95c","name":"Bedroom","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.bedroom","x":300,"y":60,"wires":[["62c6cafe.6fad94"]]},{"id":"e15f681f.a947f8","type":"inject","z":"738b155d.d6a95c","name":"Check every","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":"0.2","x":120,"y":60,"wires":[["b20374e2.ce91c8"]]},{"id":"a778390f.916cc8","type":"comment","z":"738b155d.d6a95c","name":"Every x seconds get the thermostat state","info":"","x":214,"y":24,"wires":[]},{"id":"507f5509.eb586c","type":"ui_gauge","z":"738b155d.d6a95c","name":"Thermostat","group":"ebe75be.ea3cca8","order":1,"width":"6","height":"3","gtype":"gage","title":"{{msg.room}} {{value}}C - {{msg.operation}}","label":"C","format":"{{msg.data.attributes.current_temperature}}","min":"5","max":"30","colors":["#009cb5","#e66f00","#ca3838"],"seg1":"10","seg2":"21","x":670,"y":20,"wires":[]},{"id":"317c4727.3137c8","type":"ui_chart","z":"738b155d.d6a95c","name":"","group":"ebe75be.ea3cca8","order":4,"width":"6","height":"4","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"Initialising","dot":false,"ymin":"0","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","useOneColor":false,"colors":["#d62728","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#274fd6","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":650,"y":60,"wires":[[],[]]},{"id":"62c6cafe.6fad94","type":"function","z":"738b155d.d6a95c","name":"Get Target Temp","func":"var msg1 = {};\nvar msg2 = {};\n\n\nmsg1.topic = \"Current Temperature\";\nmsg1.payload = msg.data.attributes.current_temperature;\nmsg1.room = msg.data.attributes.friendly_name;\nmsg1.operation = msg.data.attributes.operation_mode;\nflow.set('savedRoom', msg1.room);\n\nmsg2.topic = \"Target Temperature\";\nmsg2.payload = msg.data.attributes.temperature;\nmsg2.room = msg.data.attributes.friendly_name;\nmsg2.operation = msg.data.attributes.operation_mode;\n//msg2.current_temp = msg.data.attributes.current_temperature\nmsg2.target_temp = msg.data.attributes.temperature;\nmsg2.enabled = true;\n\nreturn [msg1, msg2];\n","outputs":"2","noerr":0,"x":470,"y":60,"wires":[["507f5509.eb586c","317c4727.3137c8"],["317c4727.3137c8","f05a957c.bd8818"]]},{"id":"f05a957c.bd8818","type":"ui_slider","z":"738b155d.d6a95c","name":"","label":"Target","group":"ebe75be.ea3cca8","order":2,"width":"5","height":"1","passthru":true,"topic":"","min":"8","max":"25","step":1,"x":650,"y":120,"wires":[["4c0e987d.fb0048","4f2f355b.a490cc"]]},{"id":"4c0e987d.fb0048","type":"ui_text","z":"738b155d.d6a95c","group":"ebe75be.ea3cca8","order":3,"width":"1","height":"1","name":"Target Temp","label":"{{msg.payload}}","format":"C","layout":"row-center","x":810,"y":100,"wires":[]},{"id":"3377a48e.c0b18c","type":"inject","z":"738b155d.d6a95c","name":"OFF","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"x":310,"y":120,"wires":[["d70c2dd8.848a4"]]},{"id":"d70c2dd8.848a4","type":"change","z":"738b155d.d6a95c","name":"Disable slider","rules":[{"t":"set","p":"enabled","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":120,"wires":[["f05a957c.bd8818"]]},{"id":"4f2f355b.a490cc","type":"trigger","z":"738b155d.d6a95c","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"750","extend":true,"units":"ms","reset":"","name":"Final Value","x":810,"y":60,"wires":[["1fb7bf28.8b8af1"]]},{"id":"1fb7bf28.8b8af1","type":"function","z":"738b155d.d6a95c","name":"set temp","func":"if (msg.room === undefined) {\n    msg.room = flow.get('savedRoom') || undefined;\n}\nflow.set('savedRoom', msg.room);\nflow.set('savedTemp', msg.payload);\nif (msg.room === undefined){\n    return;\n}\n\nvar result = {\n    newmsg : {\n        room : msg.room,\n        payload : {\n            domain : \"climate\",\n            service : \"set_temperature\",\n            data : {\n                entity_id : \"climate.\" + msg.room,\n                temperature : msg.payload,\n                operation_mode : msg.operation,\n            }\n        } \n    }\n};\nvar msg = {\n    payload : {\n        data : {\n            message : msg.room + \" temperature set to \" + msg.payload\n        }\n    } \n}\nreturn [result.newmsg, msg];","outputs":"2","noerr":0,"x":800,"y":180,"wires":[["a7aa54ca.f8d8f8","f71cb9d9.451798"],["6ff6240d.49573c"]]},{"id":"a7aa54ca.f8d8f8","type":"api-call-service","z":"738b155d.d6a95c","name":"Set Temp","server":"5ed55cb1.3cf4b4","service_domain":"climate","service":"set_temperature","data":"{ \"entity_id\":\"climate_livingroom\" }","x":1020,"y":140,"wires":[]},{"id":"6ff6240d.49573c","type":"api-call-service","z":"738b155d.d6a95c","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1040,"y":184,"wires":[]},{"id":"f71cb9d9.451798","type":"delay","z":"738b155d.d6a95c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":260,"wires":[["33f6ef42.dbd7c"]]},{"id":"600c026b.455f5c","type":"api-current-state","z":"738b155d.d6a95c","name":"StatToCheck","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"climate.bedroom","x":830,"y":380,"wires":[["4ad3e3c6.aa7f1c"]]},{"id":"4ad3e3c6.aa7f1c","type":"function","z":"738b155d.d6a95c","name":"CheckTemp","func":"var savedTemp = flow.get('savedTemp');\nvar savedRoom = flow.get('savedRoom');\n\nif (msg.data.attributes.temperature !== savedTemp) {\n    return {\n        payload : {\n            data : {\n                message : savedRoom + \" thermostat has not stayed at set temp of \" + savedTemp\n            }\n        } \n    };\n}\nreturn null;\n","outputs":1,"noerr":0,"x":830,"y":440,"wires":[[]]},{"id":"df6bb3f6.ec0e2","type":"api-call-service","z":"738b155d.d6a95c","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Changing Heating \"}","x":1020,"y":440,"wires":[]},{"id":"33f6ef42.dbd7c","type":"function","z":"738b155d.d6a95c","name":"Set Room","func":"msg.entity_id = msg.room;\nreturn msg;\n","outputs":1,"noerr":0,"x":820,"y":320,"wires":[["600c026b.455f5c"]]},{"id":"5b5a9bd5.3e2de4","type":"server-state-changed","z":"e76a7d8e.947ca","name":"Kitchen main ceiling","server":"5ed55cb1.3cf4b4","entityidfilter":"light.main_ceiling","haltifstate":"","x":90,"y":100,"wires":[["b1c9bfc7.f18f1"]]},{"id":"8c3e7e59.9c899","type":"api-call-service","z":"e76a7d8e.947ca","name":"Virtual Light","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"main_ceiling_6\" }","x":530,"y":200,"wires":[]},{"id":"ec51636a.88109","type":"debug","z":"e76a7d8e.947ca","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":300,"wires":[]},{"id":"b1c9bfc7.f18f1","type":"function","z":"e76a7d8e.947ca","name":"on/off","func":"function sendNewMessage(service, lights) {\n    for (var index in lights) {\n        var newmsg = {\n            payload : {\n                \"domain\" : \"light\",\n                \"service\" : service,\n                \"data\" : {\n                    \"entity_id\" : \"light.\" + lights[index]\n                }\n            } \n        };\n        node.send(newmsg);\n    }\n}\n\n\nvar lights = [\n    { name : \"light.main_ceiling\", virtual_lights : [\"main_ceiling_1\", \"main_ceiling_2\", \"main_ceiling_3\", \"main_ceiling_4\", \"main_ceiling_5\", \"main_ceiling_6\"]},\n    { name : \"light.cooking_ceiling\", virtual_lights : [\"cooking_ceiling_1\", \"cooking_ceiling_2\"]},\n    { name : \"light.table_ceiling\", virtual_lights : [\"table_ceiling_1\", \"table_ceiling_2\"]},\n    { name : \"light.bench_ceiling\", virtual_lights : [\"bench_ceiling_1\", \"bench_ceiling_2\"]},\n    ];\nvar newmsg;    \nfor (var index in lights) {\n    var light = lights[index];\n    if (msg.topic === light.name){\n        if (msg.payload === 'on'){\n            sendNewMessage(\"turn_on\", light.virtual_lights);\n        } else {\n            sendNewMessage(\"turn_off\", light.virtual_lights);\n        }\n    }\n}","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["8c3e7e59.9c899","ec51636a.88109"]]},{"id":"838604db.4ee1c8","type":"server-state-changed","z":"e76a7d8e.947ca","name":"Kitchen cooking ceiling","server":"5ed55cb1.3cf4b4","entityidfilter":"light.cooking_ceiling","haltifstate":"","x":100,"y":160,"wires":[["b1c9bfc7.f18f1"]]},{"id":"647b3b51.62f9b4","type":"server-state-changed","z":"e76a7d8e.947ca","name":"Kitchen table ceiling","server":"5ed55cb1.3cf4b4","entityidfilter":"light.table_ceiling","haltifstate":"","x":90,"y":220,"wires":[["b1c9bfc7.f18f1"]]},{"id":"879d680b.8e41c8","type":"server-state-changed","z":"e76a7d8e.947ca","name":"Kitchen bench ceiling","server":"5ed55cb1.3cf4b4","entityidfilter":"light.bench_ceiling","haltifstate":"","x":100,"y":280,"wires":[["b1c9bfc7.f18f1"]]},{"id":"6154e281.9ce51c","type":"api-current-state","z":"e07c95c3.4c6e18","name":"Anyone Home?","server":"5ed55cb1.3cf4b4","halt_if":"Home","entity_id":"device_tracker.family_presence","x":380,"y":200,"wires":[["b9e4e818.835a08","fb56f042.9a546","a3bab5d8.0b61e8"]]},{"id":"82d347e5.5a1b58","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["e5711aa6.d995a8","814a9a47.baa338"]]},{"id":"e5711aa6.d995a8","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggle_Pad Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"squiggle_pad\",\"location_name\":\"Away\"}","x":350,"y":140,"wires":[]},{"id":"721328be.9b9198","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggle_Phone Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"squiggle_phone\",\"location_name\":\"Away\"}","x":360,"y":260,"wires":[]},{"id":"89d64501.7c2d68","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":560,"wires":[["f2492f44.4d1d1","f8a721f.72dcce"]]},{"id":"f2492f44.4d1d1","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggle_Pad Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"squiggle_pad\",\"location_name\":\"Home\"}","x":350,"y":640,"wires":[]},{"id":"5aa533e2.e54bec","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggle_Phone Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"squiggle_phone\",\"location_name\":\"Home\"}","x":360,"y":520,"wires":[]},{"id":"2db23e52.68e902","type":"comment","z":"fb2364d7.974c78","name":"Set away","info":"","x":90,"y":80,"wires":[]},{"id":"ac87bd50.3dc5a","type":"comment","z":"fb2364d7.974c78","name":"Set home","info":"","x":80,"y":420,"wires":[]},{"id":"1eaa250c.ef933b","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":20,"wires":[["cc8b7b50.a65938","582c5996.dc70a8"]]},{"id":"cc8b7b50.a65938","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Claires Iphone Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"claires_iphone\",\"location_name\":\"Away\"}","x":350,"y":20,"wires":[]},{"id":"582c5996.dc70a8","type":"api-call-service","z":"fb2364d7.974c78","name":"Set clairesiphoneyeradonkeycom Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"clairesiphoneyeradonkeycom\",\"location_name\":\"Away\"}","x":400,"y":80,"wires":[]},{"id":"97602ad6.c0aa48","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[["88c8214a.f9efd","ba476c4c.20181"]]},{"id":"88c8214a.f9efd","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Claires Iphone Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"claires_iphone\",\"location_name\":\"home\"}","x":370,"y":700,"wires":[]},{"id":"ba476c4c.20181","type":"api-call-service","z":"fb2364d7.974c78","name":"Set clairesiphoneyeradonkeycom Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"clairesiphoneyeradonkeycom\",\"location_name\":\"Home\"}","x":420,"y":760,"wires":[]},{"id":"814a9a47.baa338","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squigglepadyeradonkeycom Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"squigglepadyeradonkeycom\",\"location_name\":\"Away\"}","x":400,"y":180,"wires":[]},{"id":"f8a721f.72dcce","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squigglepadyeradonkeycom Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"squigglepadyeradonkeycom\",\"location_name\":\"Home\"}","x":400,"y":580,"wires":[]},{"id":"63d03c81.dad954","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squigglephoneyeradonkeycom Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"squigglephoneyeradonkeycom\",\"location_name\":\"Home\"}","x":400,"y":480,"wires":[]},{"id":"aede4e5e.aa903","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squigglephoneyeradonkeycom Status","server":"5ed55cb1.3cf4b4","service_domain":"device_tracker","service":"see","data":"{\"dev_id\":\"squigglephoneyeradonkeycom\",\"location_name\":\"Away\"}","x":400,"y":320,"wires":[]},{"id":"fbd08615.2bc9f8","type":"server-state-changed","z":"40da9d9f.9148d4","name":"Squiggley","server":"5ed55cb1.3cf4b4","entityidfilter":"binary_sensor.squiggley_presence","haltifstate":"","x":65,"y":60,"wires":[["c3eab0d0.93616"]]},{"id":"d11d5a.578282a8","type":"api-current-state","z":"40da9d9f.9148d4","name":"status","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"input_select.squiggley_status_dropdown","x":315,"y":89,"wires":[["46f1d62e.5011c8"]]},{"id":"50cebc0a.9d6924","type":"server-state-changed","z":"40da9d9f.9148d4","name":"Wee Bear","server":"5ed55cb1.3cf4b4","entityidfilter":"binary_sensor.wee_bear_presence","haltifstate":"","x":65,"y":140,"wires":[["93537890.b5edc8"]]},{"id":"c3eab0d0.93616","type":"change","z":"40da9d9f.9148d4","name":"same","rules":[{"t":"set","p":"name","pt":"msg","to":"Squiggley","tot":"str"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"input_select.squiggley_status_dropdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":60,"wires":[["d11d5a.578282a8","e774acab.868fd"]]},{"id":"93537890.b5edc8","type":"change","z":"40da9d9f.9148d4","name":"same","rules":[{"t":"set","p":"name","pt":"msg","to":"Wee Bear","tot":"str"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.entity_id","pt":"msg","to":"input_select.wee_bear_status_dropdown","tot":"str"},{"t":"set","p":"state","pt":"msg","to":"data.new_state.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":140,"wires":[["d11d5a.578282a8","e774acab.868fd"]]},{"id":"a3047d6a.2d427","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggley as Away","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.squiggley_status_dropdown\", \"option\" : \"Away\" }","x":980,"y":580,"wires":[]},{"id":"34e227f5.23deb8","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":757,"y":580,"wires":[["a3047d6a.2d427"]]},{"id":"74705a1.526daa4","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":620,"wires":[["4cf47358.b0ae6c"]]},{"id":"4cf47358.b0ae6c","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Wee Bear as Away","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.wee_bear_status_dropdown\", \"option\" : \"Away\" }","x":980,"y":620,"wires":[]},{"id":"b15a5fac.1afbf","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":660,"wires":[["dcd05964.edb5e8"]]},{"id":"dcd05964.edb5e8","type":"api-call-service","z":"fb2364d7.974c78","name":"Set House as Away","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.house_occupancy_status_dropdown\", \"option\" : \"Away\" }","x":970,"y":660,"wires":[]},{"id":"fdf755c1.2c8fd8","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":540,"wires":[["a3047d6a.2d427","4cf47358.b0ae6c","dcd05964.edb5e8"]]},{"id":"32c69808.19eef8","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggley as Just Arrived","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.squiggley_status_dropdown\", \"option\" : \"Just Arrived\" }","x":980,"y":60,"wires":[]},{"id":"c84c1194.f7418","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":737,"y":60,"wires":[["32c69808.19eef8"]]},{"id":"4914d24.b001b2c","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":100,"wires":[["ec1f50a0.6ac8"]]},{"id":"ec1f50a0.6ac8","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Wee Bear as Just Arrived","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.wee_bear_status_dropdown\", \"option\" : \"Just Arrived\" }","x":980,"y":100,"wires":[]},{"id":"ce7b72d1.aa979","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":140,"wires":[["be16c454.aa8c28"]]},{"id":"be16c454.aa8c28","type":"api-call-service","z":"fb2364d7.974c78","name":"Set House as Just Arrived","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.house_occupancy_status_dropdown\", \"option\" : \"Just Arrived\" }","x":970,"y":140,"wires":[]},{"id":"fd26ade7.da5a8","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":20,"wires":[["32c69808.19eef8","ec1f50a0.6ac8","be16c454.aa8c28"]]},{"id":"c124babc.dbf898","type":"comment","z":"fb2364d7.974c78","name":"Set away","info":"","x":880,"y":540,"wires":[]},{"id":"965df825.939ce8","type":"comment","z":"fb2364d7.974c78","name":"Set Just Arrived","info":"","x":880,"y":20,"wires":[]},{"id":"a0788349.1969d","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggley as Home","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.squiggley_status_dropdown\", \"option\" : \"Home\" }","x":990,"y":240,"wires":[]},{"id":"d47c8ee9.7850b","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":757,"y":240,"wires":[["a0788349.1969d"]]},{"id":"32df5405.59478c","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":280,"wires":[["2dc5bf28.631bc"]]},{"id":"2dc5bf28.631bc","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Wee Bear as Home","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.wee_bear_status_dropdown\", \"option\" : \"Home\" }","x":990,"y":280,"wires":[]},{"id":"bfcb1d71.d2cb8","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":320,"wires":[["43a30186.6bbdc"]]},{"id":"43a30186.6bbdc","type":"api-call-service","z":"fb2364d7.974c78","name":"Set House as Home","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.house_occupancy_status_dropdown\", \"option\" : \"Home\" }","x":980,"y":320,"wires":[]},{"id":"cb335e49.1b177","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":200,"wires":[["a0788349.1969d","2dc5bf28.631bc","43a30186.6bbdc"]]},{"id":"62eea791.ddec78","type":"comment","z":"fb2364d7.974c78","name":"Set Home","info":"","x":880,"y":200,"wires":[]},{"id":"77636d71.7d22a4","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggley as Just Left","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.squiggley_status_dropdown\", \"option\" : \"Just Left\" }","x":990,"y":420,"wires":[]},{"id":"61a1cc76.ef70a4","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":757,"y":420,"wires":[["77636d71.7d22a4"]]},{"id":"aed1dc73.152f","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":460,"wires":[["2970cdb3.a39512"]]},{"id":"2970cdb3.a39512","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Wee Bear as Just Left","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.wee_bear_status_dropdown\", \"option\" : \"Just Left\" }","x":990,"y":460,"wires":[]},{"id":"c9b78085.6033f","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":500,"wires":[["9e8dc9e4.296758"]]},{"id":"9e8dc9e4.296758","type":"api-call-service","z":"fb2364d7.974c78","name":"Set House as Just Left","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.house_occupancy_status_dropdown\", \"option\" : \"Just Left\" }","x":980,"y":500,"wires":[]},{"id":"24bae552.f6109a","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":380,"wires":[["77636d71.7d22a4","2970cdb3.a39512","9e8dc9e4.296758"]]},{"id":"4ca2ea73.562c64","type":"comment","z":"fb2364d7.974c78","name":"Set Just Left","info":"","x":890,"y":380,"wires":[]},{"id":"cef0b9c7.5eeb08","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Squiggley as Extended Away","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.squiggley_status_dropdown\", \"option\" : \"Extended Away\" }","x":1020,"y":740,"wires":[]},{"id":"512c256b.b98e1c","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":757,"y":740,"wires":[["cef0b9c7.5eeb08"]]},{"id":"5c2dd5c5.76cb0c","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":780,"wires":[["e86659d2.9debd8"]]},{"id":"e86659d2.9debd8","type":"api-call-service","z":"fb2364d7.974c78","name":"Set Wee Bear as Extended Away","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.wee_bear_status_dropdown\", \"option\" : \"Extended Away\" }","x":1020,"y":780,"wires":[]},{"id":"af1bd189.0535f","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":820,"wires":[["fd84f8d3.72d658"]]},{"id":"fd84f8d3.72d658","type":"api-call-service","z":"fb2364d7.974c78","name":"Set House as Extended Away","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.house_occupancy_status_dropdown\", \"option\" : \"Extended Away\" }","x":1010,"y":820,"wires":[]},{"id":"4076e027.a4b05","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":620,"y":700,"wires":[["cef0b9c7.5eeb08","e86659d2.9debd8","fd84f8d3.72d658"]]},{"id":"9d1cb6b.1407448","type":"comment","z":"fb2364d7.974c78","name":"Set Extended Away","info":"","x":910,"y":700,"wires":[]},{"id":"1c945c36.02f884","type":"function","z":"40da9d9f.9148d4","name":"Decision","func":"const JustLeft = \"Just Left\";\nconst JustArrived = \"Just Arrived\";\nconst Away = \"Away\";\nconst Home = \"Home\";\nconst ExtendedAway = \"Extended Away\";\n\nvar dropdown = msg.payload.entity_id;\nvar presence_sensor = msg.data.entity_id;\n\nfunction createPayload(status) {\n    var result = { \n        payload : { \n            domain : \"input_select\", \n            service: \"select_option\", \n            data : { \n                entity_id : dropdown, \n                option : status \n            },\n            name : msg.name\n        } \n    };\n    return result;\n}\n\nfunction createDelayedPayload (status) {\n    var result = createPayload(status);\n    result.payload.presence_sensor = presence_sensor;\n    return result;\n}\n\nvar currentStatus = msg.state[0];\nvar state = msg.data.new_state.state;\nvar updateMsg = {\n    payload : {\n        data : {\n            message : \"\"\n        }\n    }\n}\nvar person = msg.name;\n\n//node.warn(\"currentStatus = \" +currentStatus+ \" state = \" + state + \" For entity \" + dropdown);\nswitch (currentStatus) {\n    case JustArrived:\n        if (state == \"on\"){\n            // We're already home and the bayesian sensor says we are home then we'er home\n            //node.warn(JustArrived+\"and ON so stay \"+JustArrived);\n            return [[createPayload(JustArrived)], [null], [createDelayedPayload(JustArrived)]];\n        } else {\n            node.warn(\"Just arrived and OFF so Just Left\");\n            updateMsg.payload.data.message = person + \" has left the building.\";\n            return [[createPayload(JustLeft)], [updateMsg], [createDelayedPayload(JustLeft)]];\n        }\n        break;\n        // Arrive home\n    case Home:\n        if (state == \"on\"){\n            // We're already home and the bayesian sensor says we are home then we'er home\n            //node.warn(\"Home and ON so stay Home\");\n            updateMsg.payload.data.message = person + \" is now home.\";\n        return [[createPayload(Home)], [null], [createDelayedPayload(Home)]];\n        } else {\n            // We were home and now we have just left\n            //node.warn(\"Home and OFF so Just Left\");\n            updateMsg.payload.data.message = person + \" has left the building.\";\n            return [[createPayload(JustLeft)], [updateMsg], [createDelayedPayload(JustLeft)]];\n        }\n        break;\n    case JustLeft:\n        if (state == \"off\"){\n            // Just Left becomes Away\n            // after a 10 min delay this will become Away\n            //node.warn(\"Just Left and OFF so Just Left\");\n            return [[createPayload(JustLeft)], [null], [createDelayedPayload(JustLeft)]];\n        } else {\n            // Arrive home\n            //node.warn(\"Just Left and ON so Just Arrived\");\n            updateMsg.payload.data.message = person + \" has arrived.\";\n            return [[createPayload(JustArrived)], [updateMsg], [createDelayedPayload(JustArrived)]];\n        }\n        break;\n    case Away:\n        if (state == \"on\"){\n            // Just Arrived\n            //node.warn(\"Away and ON so Just Arrived\");\n            updateMsg.payload.data.message = person + \" has arrived.\";\n            return [[createPayload(JustArrived)], [updateMsg], [createDelayedPayload(JustArrived)]];\n        } else {\n            // We were away and we are still away\n            //node.warn(\"Away and OFF so stat Away\");\n            updateMsg.payload.data.message = person + \" is now away.\";\n            return [[createPayload(Away)], [updateMsg], [createDelayedPayload(Away)]];\n        }\n        break;\n    case ExtendedAway:\n        // House empty for more than 24hrs#\n        if (state == \"on\"){\n            // Just Arrived\n            //node.warn(\"Extended Away and ON so Just Arrived\");\n            updateMsg.payload.data.message = person + \" has arrived.\";\n            return [[createPayload(JustArrived)], [updateMsg], [createDelayedPayload(JustArrived)]];\n        } else {\n            // We were away and we are still away\n            //node.warn(\"Extended Away and OFF so stay Extended Away\");\n            // Set to extended away which will trigger random lights on and off etc\n            updateMsg.payload.data.message = person + \" is now extended away.\";\n            return [[createPayload(ExtendedAway)], [updateMsg], [createDelayedPayload(ExtendedAway)]];\n        }\n        break;\n}\n\n","outputs":3,"noerr":0,"x":784,"y":82,"wires":[["4e281027.ce99f","3cf86338.1e60ac"],["e2ce0fbc.280ed"],["47befc26.209f34"]],"outputLabels":["Set Location and continue","Notify everyone","Check again in x mins"]},{"id":"4e281027.ce99f","type":"api-call-service","z":"40da9d9f.9148d4","name":"Set Location","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"\"}","x":955,"y":40,"wires":[]},{"id":"b60af26a.7a043","type":"api-current-state","z":"40da9d9f.9148d4","name":"Squiggley","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"input_select.squiggley_status_dropdown","x":245,"y":480,"wires":[["452ac35c.c4667c"]]},{"id":"c176f9e8.805728","type":"api-current-state","z":"40da9d9f.9148d4","name":"Wee Bear","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"input_select.wee_bear_status_dropdown","x":245,"y":520,"wires":[["e14d8176.d5d1d"]]},{"id":"5e4f639e.f6d73c","type":"function","z":"40da9d9f.9148d4","name":"Status","func":"const JustLeft = \"Just Left\";\nconst JustArrived = \"Just Arrived\";\nconst Away = \"Away\";\nconst Home = \"Home\";\nconst ExtendedAway = \"Extended Away\";\n\nfunction createNewMessage(location) {\n    var msg = {\n        payload : {\n            domain : \"input_select\",\n            service : \"select_option\",\n            data : {\n                entity_id : \"input_select.house_occupancy_status_dropdown\",\n                option : location,\n            }\n        } \n    }\n    return msg;\n}\nvar updateMsg = {\n    payload : {\n        data : {\n            message : \"\"\n        }\n    }\n}\nfunction notHome(status) {\n    if (status === Away || status === ExtendedAway || status === JustLeft) {\n        return true;\n    }\n}\nfunction getStatus(name) {\n    for (var i=0; i <= msg.state.length; i++) {\n        if (msg.state[i].hasOwnProperty(name)) {\n            return msg.state[i][name]\n        }\n    }\n    return undefined;\n}\n\n//TODO make a config object with people in it so there can be any number \n\n//node.warn(\"Getting Statuses\");\nvar squiggley_status = getStatus('squiggley');\nvar wee_bear_status = getStatus('wee_bear');\n\n//node.warn(\"Squiggley_status = \" +squiggley_status+ \" wee_bear_status = \" + wee_bear_status);\nif (notHome(squiggley_status) && notHome(wee_bear_status)){\n    updateMsg.payload.data.message = \"Nobody home\"\n    return [[createNewMessage(squiggley_status)], [updateMsg]];  \n}\n// TODO should this be here??? Smalls funny\nif (squiggley_status === wee_bear_status) {\n    return [[createNewMessage(squiggley_status)], [null]];  \n}\n// We are Home\nif (squiggley_status === Home || wee_bear_status === Home) {\n    return [[createNewMessage(Home)], [null]];  \n}\n// We have Just Arrived\nif (squiggley_status === JustArrived || wee_bear_status === JustArrived) {\n    return [[createNewMessage(JustArrived)], [null]];  \n}\n// We have just Left\nif ((notHome(squiggley_status) && wee_bear_status === \"Just Left\") ||\n    (notHome(wee_bear_status) && squiggley_status === \"Just Left\")) {\n    // Last person left sp set house status to just left\n    return [[createNewMessage(JustLeft)], [null]];\n}\n\nupdateMsg.payload.data.message = \"House has been set to Unknown\";\nreturn [[createNewMessage(\"Unknown\")], [updateMsg]];","outputs":2,"noerr":0,"x":610,"y":500,"wires":[["da98f700.367718"],["5e2d0595.56397c"]],"outputLabels":["Set the house occupancy status","Send out a notify of the status","Occupancy status Occupied or Empty"]},{"id":"2eec8e4c.affc62","type":"comment","z":"40da9d9f.9148d4","name":"House Occupancy Check","info":"Someones state just changed so check the occupancy status of the house","x":130,"y":420,"wires":[]},{"id":"da98f700.367718","type":"api-call-service","z":"40da9d9f.9148d4","name":"House Occupancy","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.house_occupancy_status_dropdown\", \"option\" : \"Home\" }","x":770,"y":464,"wires":[]},{"id":"e774acab.868fd","type":"join","z":"40da9d9f.9148d4","name":"","mode":"custom","build":"array","property":"state","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":544,"y":88,"wires":[["211435eb.914dda"]]},{"id":"46f1d62e.5011c8","type":"change","z":"40da9d9f.9148d4","name":"state","rules":[{"t":"set","p":"state","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":89,"wires":[["e774acab.868fd"]]},{"id":"ad979a48.2d6db8","type":"comment","z":"40da9d9f.9148d4","name":"Persons location has changed","info":"Bayesian sensor will determine if the location has changed.\nIos is a bit shit at this so we have a timestamp and will \nignore msgs that are the same within x mins","x":140,"y":20,"wires":[]},{"id":"211435eb.914dda","type":"deduplicate","z":"40da9d9f.9148d4","name":"5 mins","keyproperty":"","expiry":"600","x":658,"y":88,"wires":[["1c945c36.02f884"],[]]},{"id":"ec83af7f.afb24","type":"comment","z":"40da9d9f.9148d4","name":"Ignore same msgs within timeframe","info":"","x":620,"y":120,"wires":[]},{"id":"36377c92.eaf584","type":"comment","z":"40da9d9f.9148d4","name":"Get the current status of person","info":"","x":410,"y":20,"wires":[]},{"id":"b50ff5f7.59fed8","type":"comment","z":"40da9d9f.9148d4","name":"Decide if the location has changed","info":"","x":700,"y":20,"wires":[]},{"id":"47befc26.209f34","type":"delay","z":"40da9d9f.9148d4","name":"","pauseType":"delay","timeout":"8","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":85,"y":300,"wires":[["591831c7.15645","77891eb0.a6ccc","58dca50e.77268c"]]},{"id":"e1ec10df.e5ba9","type":"comment","z":"40da9d9f.9148d4","name":"Change house status if required","info":"If we have been at Just Left for x mins change to Away\nIf we have been Away for 24 hrs change to Extended Away\nIf we have been Just Arrived for x mins change to Home","x":750,"y":420,"wires":[]},{"id":"e7c7423f.48454","type":"function","z":"40da9d9f.9148d4","name":"decision","func":"const JustLeft = \"Just Left\";\nconst JustArrived = \"Just Arrived\";\nconst Away = \"Away\";\nconst Home = \"Home\";\nconst ExtendedAway = \"Extended Away\";\n\nfunction createPayload(status, entity_id) {\n    var result = { \n        payload : { \n            domain : \"input_select\", \n            service: \"select_option\", \n            data : { \n                entity_id : entity_id, \n                option : status\n            },\n            name : msg.name\n        } \n    };\n    return result;\n}\nvar occupancyMsg = {\n    occupied : true,\n    timestamp: null\n}\nvar updateMsg = {\n    payload : {\n        data : {\n            message : \"\"\n        }\n    }\n}\nfunction getStatus(name) {\n    for (var i=0; i <= msg.state.length; i++) {\n        if (msg.state[i].hasOwnProperty(name)) {\n            return msg.state[i][name]\n        }\n    }\n    return undefined;\n}\n//node.warn(\"Getting Statuses\");\nvar person = getStatus('name');\nvar currentStatus = getStatus('dropdown');\nvar state = getStatus('device');\nvar entity_id = msg.entity_id;\n\nnode.warn(person + \" currentStatus = \" +currentStatus+ \" state = \" + state + \" For entity \" + entity_id);\n\nswitch (currentStatus) {\n    case JustArrived:\n        // We have been JustArrived for the x mins so set to Home\n        if (state === 'on') {\n            updateMsg.payload.data.message = person + \" has been set to home\";\n            occupancyMsg.occupied = true;\n            occupancyMsg.timestamp = new Date().getTime();\n            return [[createPayload(Home, entity_id)], [updateMsg]];\n        } \n        break;\n    case Home:\n        node.warn(\"Been home for x mins so stay home\");\n        break;\n    case JustLeft:\n        if (state === 'off'){\n            occupancyMsg.occupied = false;\n            occupancyMsg.timestamp = new Date().getTime();\n            updateMsg.payload.data.message = person + \" has been set to away\";\n            return [[createPayload(Away, entity_id)], [updateMsg]];\n        }\n        break;\n    case Away:\n        // We were away and we are still away\n        // should we timestamp this so we know when to set extended away???\n        break;\n    case ExtendedAway:\n        break;\n}\n\n","outputs":3,"noerr":0,"x":800,"y":300,"wires":[["dfa8d6ed.65e6f8","3cf86338.1e60ac"],["d7fff0b0.1e29b"],["1664184e.1e01f8"]],"outputLabels":["Set Location","Notification message","Save the occupied status"]},{"id":"dfa8d6ed.65e6f8","type":"api-call-service","z":"40da9d9f.9148d4","name":"Update Location","server":"5ed55cb1.3cf4b4","service_domain":"input_select","service":"select_option","data":"{ \"entity_id\" : \"input_select.house_occupancy_status_dropdown\", \"option\" : \"Home\" }","x":980,"y":260,"wires":[]},{"id":"6b0b0cb8.b85ab4","type":"api-current-state","z":"40da9d9f.9148d4","name":"dropdown status","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"input_select.squiggley_status_dropdown","x":405,"y":280,"wires":[["d7566d00.80e1f"]]},{"id":"d85169f8.88cf38","type":"join","z":"40da9d9f.9148d4","name":"","mode":"custom","build":"array","property":"state","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":675,"y":300,"wires":[["e7c7423f.48454"]]},{"id":"58dca50e.77268c","type":"change","z":"40da9d9f.9148d4","name":"payload","rules":[{"t":"set","p":"state.name","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"entity_id","pt":"msg","to":"payload.data.entity_id","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":545,"y":360,"wires":[["d85169f8.88cf38"]]},{"id":"d7566d00.80e1f","type":"change","z":"40da9d9f.9148d4","name":"state","rules":[{"t":"set","p":"state.dropdown","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":555,"y":280,"wires":[["d85169f8.88cf38"]]},{"id":"ff714643.b78bf8","type":"comment","z":"40da9d9f.9148d4","name":"Wait for x mins to see if we have really left/arrived","info":"ios location is a bit crap soo we wait for \n5 mins or so to see if it really has left","x":180,"y":200,"wires":[]},{"id":"e2ce0fbc.280ed","type":"api-call-service","z":"40da9d9f.9148d4","name":"Notify Everyone","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"everyone","data":"{ \"message\":\"Dynamic Message\"}","x":965,"y":100,"wires":[]},{"id":"d7fff0b0.1e29b","type":"api-call-service","z":"40da9d9f.9148d4","name":"Notify Everyone","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"everyone","data":"{ \"message\":\"Dynamic Message\"}","x":980,"y":320,"wires":[]},{"id":"5e2d0595.56397c","type":"api-call-service","z":"40da9d9f.9148d4","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Dynamic Message\"}","x":760,"y":536,"wires":[]},{"id":"3cf86338.1e60ac","type":"trigger","z":"40da9d9f.9148d4","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":105,"y":502,"wires":[["b60af26a.7a043","c176f9e8.805728"]]},{"id":"cd128bc7.4f6958","type":"server-state-changed","z":"80986a73.cdb938","name":"Zaphod","server":"5ed55cb1.3cf4b4","entityidfilter":"media_player.zaphod","haltifstate":"","x":50,"y":140,"wires":[["96d472c8.d857b","4918e27e.92a6ac","d2790a4b.129e28","f6f28480.b15f48","2a62556d.fc09fa","d766831f.d7806"]]},{"id":"aca07b53.1431f8","type":"api-call-service","z":"80986a73.cdb938","name":"off door","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.livingroom_door\", \"transition\" : \"20\" }","x":940,"y":20,"wires":[]},{"id":"ccfb0140.8c1a8","type":"delay","z":"80986a73.cdb938","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":340,"wires":[["166e6ace.7cd605"]]},{"id":"f012e32d.5c55e","type":"server-state-changed","z":"a0513f41.a1ba8","name":"Shutdown Button","server":"5ed55cb1.3cf4b4","entityidfilter":"binary_sensor.switch_158d0001f3e05e","haltifstate":"","x":80,"y":60,"wires":[["571806f6.a386e8","b5fe5725.269798","242d866b.38968a"]]},{"id":"336888ab.d68888","type":"api-call-service","z":"a0513f41.a1ba8","name":"Turn Everything Off","server":"5ed55cb1.3cf4b4","service_domain":"script","service":"turn_everything_off","data":"{ \"entity_id\" : \"script.turn_everything_off\" }","x":490,"y":60,"wires":[]},{"id":"571806f6.a386e8","type":"debug","z":"a0513f41.a1ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":220,"y":180,"wires":[]},{"id":"7af4f1ab.deb33","type":"light-scheduler","z":"2c578480.b4f04c","settings":"e234b5a3.997ec8","events":"[{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":570}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":570}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":570}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":960},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":960},\"end\":{\"dow\":1,\"mod\":360}}]","topic":"","name":"dark?","onPayload":"on","onPayloadType":"str","offPayload":"off","offPayloadType":"str","onlyWhenDark":true,"sunElevationThreshold":"1","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":490,"y":360,"wires":[["4a7bf190.3da3b"]]},{"id":"b5fe5725.269798","type":"api-call-service","z":"a0513f41.a1ba8","name":"Notify Everyone","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"everyone","data":"{ \"message\":\"Shutdown button pressed\"}","x":300,"y":120,"wires":[]},{"id":"94eb3475.cf3168","type":"comment","z":"f854398.ceae4c8","name":"Turn all lights on, set them to red 10% then turn them off","info":"","x":250,"y":60,"wires":[]},{"id":"b9e605cc.d58188","type":"http in","z":"7b68c44b.80c7ec","name":"AlertManager","url":"/AlertManager","method":"post","upload":false,"swaggerDoc":"","x":200,"y":640,"wires":[["b314212e.02955"]]},{"id":"b314212e.02955","type":"debug","z":"7b68c44b.80c7ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":740,"wires":[]},{"id":"91832adc.4f4f28","type":"change","z":"2c578480.b4f04c","name":"state","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":360,"wires":[["7af4f1ab.deb33"]]},{"id":"1a0c269f.8d31e9","type":"join","z":"2c578480.b4f04c","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":320,"wires":[["e234948.52afd68"]]},{"id":"e234948.52afd68","type":"function","z":"2c578480.b4f04c","name":"turn on?","func":"var newmsg = {\n    state : {}\n}\nif (msg.payload[0] === \"on\" && msg.payload[1] === \"on\") {\n    newmsg.state = \"dark\";\n    node.status({fill:\"darkblue\",shape:\"dot\",text:\"It's dark\"});\n} else {\n    newmsg.state = \"light\";\n    node.status({fill:\"lightblue\",shape:\"dot\",text:\"Not Dark\"});\n}\nreturn newmsg;","outputs":1,"noerr":0,"x":880,"y":320,"wires":[[]]},{"id":"84e37e4d.99f0a","type":"timestamp","z":"2c578480.b4f04c","name":"padding","x":260,"y":320,"wires":[["91832adc.4f4f28","1a0c269f.8d31e9"]]},{"id":"8b8bc8cd.c7d128","type":"server-state-changed","z":"1b4a4b6e.ef22b5","name":"Night Light Motion","server":"5ed55cb1.3cf4b4","entityidfilter":"binary_sensor.motion_sensor_158d0001d666b5","haltifstate":"","x":110,"y":80,"wires":[["5bacf724.9ce668","4824e245.ccc34c"]]},{"id":"bc3f49f8.d82c38","type":"api-call-service","z":"1b4a4b6e.ef22b5","name":"Night Light On","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.night_light_stripper\", \"brightness_pct\" : \"5\" }","x":812,"y":49,"wires":[]},{"id":"3e5f761.8722b8a","type":"api-call-service","z":"1b4a4b6e.ef22b5","name":"Night Light Off","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.night_light_stripper\" }","x":812,"y":102,"wires":[]},{"id":"5bacf724.9ce668","type":"join","z":"1b4a4b6e.ef22b5","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":542,"y":78,"wires":[["cad1531.fe632b"]]},{"id":"cad1531.fe632b","type":"function","z":"1b4a4b6e.ef22b5","name":"on/off?","func":"var newmsg = {\n    payload : {\n        service : {}\n    }\n}\nif ((msg.payload[0] === \"on\") && (msg.payload[1] === \"on\")) {\n    newmsg.payload.service = \"turn_on\";\n    return [[newmsg], [null]];\n} else {\n    newmsg.payload.service = \"turn_off\"\n    return [[null], [newmsg]];\n}\n","outputs":2,"noerr":0,"x":662,"y":78,"wires":[["bc3f49f8.d82c38"],["3e5f761.8722b8a"]]},{"id":"39a68cc4.ab3f84","type":"comment","z":"1b4a4b6e.ef22b5","name":"Bedroom night light","info":"","x":145,"y":29,"wires":[]},{"id":"4a7bf190.3da3b","type":"function","z":"2c578480.b4f04c","name":"turn on?","func":"if (msg.payload === \"on\") {\n    node.status({text : \"It's dark\"})\n} else {\n    node.status({text : \"Still light out\"})\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":360,"wires":[["1a0c269f.8d31e9"]]},{"id":"242d866b.38968a","type":"change","z":"a0513f41.a1ba8","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload","pt":"msg","to":"{\"service\":\"turn_everything_off\",\"domain\":\"script\",\"data\":{\"entity_id\":\"script.turn_everything_off\"}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":60,"wires":[["336888ab.d68888","9048f343.5bb99"]]},{"id":"9048f343.5bb99","type":"debug","z":"a0513f41.a1ba8","name":"turn off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":140,"wires":[]},{"id":"96d472c8.d857b","type":"api-current-state","z":"80986a73.cdb938","name":"Movie lights?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"input_boolean.movie_lighting","x":190,"y":100,"wires":[["4918e27e.92a6ac"]]},{"id":"4918e27e.92a6ac","type":"join","z":"80986a73.cdb938","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":310,"y":140,"wires":[["e02625fd.b27e78","b303c6a6.33e0c8"]]},{"id":"b303c6a6.33e0c8","type":"switch","z":"80986a73.cdb938","name":"playing state","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"off","vt":"str"},{"t":"cont","v":"playing","vt":"str"},{"t":"cont","v":"paused","vt":"str"},{"t":"cont","v":"stop","vt":"str"},{"t":"cont","v":"idle","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":450,"y":140,"wires":[[],["ed9154d8.5c9f18","abce2db0.a1ce7"],["b4ea87fc.13b298","25dc340a.f0315c","5e7b1246.0d435c","d1548957.8911d8"],["b4ea87fc.13b298","25dc340a.f0315c","5e7b1246.0d435c","d1548957.8911d8","8d7e3ac.d83acc8"],["b4ea87fc.13b298","25dc340a.f0315c","5e7b1246.0d435c","d1548957.8911d8"]],"outputLabels":["Movie lighting off do nothing","Playing","Paused","Stop","Idle"]},{"id":"a3d399a4.166558","type":"light-scheduler","z":"1b4a4b6e.ef22b5","settings":"e234b5a3.997ec8","events":"[{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":570}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":570}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":570}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":1350},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":1350},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":1350},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":1350},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":1350},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":1350},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":1350},\"end\":{\"dow\":1,\"mod\":0}}]","topic":"","name":"12am - 9am","onPayload":"on","onPayloadType":"str","offPayload":"off","offPayloadType":"str","onlyWhenDark":false,"sunElevationThreshold":"3","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":402,"y":98,"wires":[["5bacf724.9ce668"]]},{"id":"a11efc62.d4503","type":"server-state-changed","z":"53e95f6a.1a1d2","name":"Doorbell","server":"5ed55cb1.3cf4b4","entityidfilter":"binary_sensor.switch_158d0001f3e05e","haltifstate":"","x":110,"y":120,"wires":[["a4b3e30f.3fd25","8563a147.62a0a"]]},{"id":"a4b3e30f.3fd25","type":"api-call-service","z":"53e95f6a.1a1d2","name":"","server":"5ed55cb1.3cf4b4","service_domain":"xiaomi_aqara","service":"play_ringtone","data":"{ \"ringtone_id\" : \"12\", \"gw_mac\" : \"78:11:DC:B2:3F:83\" , \"ringtone_vol\" : \"80\" }","x":470,"y":80,"wires":[]},{"id":"dbd30167.066a1","type":"inject","z":"53e95f6a.1a1d2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["a4b3e30f.3fd25"]]},{"id":"8563a147.62a0a","type":"debug","z":"53e95f6a.1a1d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":170,"y":180,"wires":[]},{"id":"4824e245.ccc34c","type":"change","z":"1b4a4b6e.ef22b5","name":"state","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":265,"y":98,"wires":[["a3d399a4.166558"]]},{"id":"452ac35c.c4667c","type":"change","z":"40da9d9f.9148d4","name":"state","rules":[{"t":"set","p":"state.squiggley","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":368,"y":480,"wires":[["b81c2f7e.fbf19"]]},{"id":"e14d8176.d5d1d","type":"change","z":"40da9d9f.9148d4","name":"state","rules":[{"t":"set","p":"state.wee_bear","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":369,"y":520,"wires":[["b81c2f7e.fbf19"]]},{"id":"b81c2f7e.fbf19","type":"join","z":"40da9d9f.9148d4","name":"","mode":"custom","build":"array","property":"state","propertyType":"msg","key":"state","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":494,"y":500,"wires":[["5e4f639e.f6d73c"]]},{"id":"38a04c74.6dcb24","type":"api-current-state","z":"40da9d9f.9148d4","name":"device status","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"input_select.squiggley_status_dropdown","x":395,"y":320,"wires":[["b2c92b53.cf6978"]]},{"id":"591831c7.15645","type":"change","z":"40da9d9f.9148d4","name":"entity_id","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"payload.data.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":280,"wires":[["6b0b0cb8.b85ab4"]]},{"id":"77891eb0.a6ccc","type":"change","z":"40da9d9f.9148d4","name":"entity_id","rules":[{"t":"set","p":"payload.entity_id","pt":"msg","to":"payload.presence_sensor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":245,"y":320,"wires":[["38a04c74.6dcb24"]]},{"id":"b2c92b53.cf6978","type":"change","z":"40da9d9f.9148d4","name":"state","rules":[{"t":"set","p":"state.device","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":555,"y":320,"wires":[["d85169f8.88cf38"]]},{"id":"e2261c69.b6a9","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["721328be.9b9198","aede4e5e.aa903"]]},{"id":"ce8a07aa.f24798","type":"inject","z":"fb2364d7.974c78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":480,"wires":[["63d03c81.dad954","5aa533e2.e54bec"]]},{"id":"47d9a97c.f232f8","type":"comment","z":"40da9d9f.9148d4","name":"get both device and dropdown status","info":"","x":400,"y":240,"wires":[]},{"id":"d927732e.7a63b","type":"server-state-changed","z":"421f876.1f97178","name":"Front Door Sensor","server":"5ed55cb1.3cf4b4","entityidfilter":"binary_sensor.front_door_sensor_sensor","haltifstate":"off","x":90,"y":60,"wires":[["3718cc74.0e7484","d49a38ea.5b9558","427251f1.a848c"]]},{"id":"262191ad.2dad9e","type":"api-call-service","z":"421f876.1f97178","name":"Vestibule On","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\":\"light.vestibule\" }","x":1070,"y":96,"wires":[]},{"id":"1959f28b.4e1f8d","type":"api-call-service","z":"421f876.1f97178","name":"Vestibule Off","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\":\"light.vestibule\" }","x":1070,"y":180,"wires":[]},{"id":"798a9f0e.43c89","type":"delay","z":"421f876.1f97178","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":140,"wires":[["1959f28b.4e1f8d"]]},{"id":"f8054730.2e5978","type":"api-current-state","z":"421f876.1f97178","name":"If the light is Off","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.vestibule","x":900,"y":120,"wires":[["262191ad.2dad9e","798a9f0e.43c89"]]},{"id":"5f8629be.430bb8","type":"comment","z":"421f876.1f97178","name":"Vestibule lights","info":"","x":980,"y":20,"wires":[]},{"id":"cfd1c6ba.44c078","type":"api-call-service","z":"421f876.1f97178","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Front door sensor??\"}","x":445,"y":149,"wires":[]},{"id":"3718cc74.0e7484","type":"function","z":"421f876.1f97178","name":"create notify","func":"function createNewMessage(msgs) {\n    msg = {\n        payload : {\n            domain : \"notify\",\n            service : \"squiggley\",\n            data : {\n                message : msgs\n            }\n        } \n    };\n\n    return msg;\n}\nif (msg.payload === \"on\") {\n    return createNewMessage(\"Front door opened\")\n} else if (msg.payload === \"off\") {\n    return createNewMessage(\"Front door closed\")\n}\nreturn createNewMessage(\"Front door sensor payload \" + msg.payload)\n","outputs":1,"noerr":0,"x":275,"y":149,"wires":[["cfd1c6ba.44c078"]]},{"id":"cdfada7a.8e0268","type":"api-call-service","z":"421f876.1f97178","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Turnin on stuff, coz its dark, n someone be home\"}","x":525,"y":351,"wires":[]},{"id":"be94f96c.76b4b8","type":"api-call-service","z":"421f876.1f97178","name":"Common Lights On","server":"5ed55cb1.3cf4b4","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"group.common_lights\"}","x":955,"y":278,"wires":[]},{"id":"902663cd.69641","type":"function","z":"421f876.1f97178","name":"GenMsg","func":"var newmsg = {\n    payload : {\n    }\n};\n\nvar message = {\n    payload : {\n        data : {\n        }\n    }\n};\n\nif (msg.state === \"light\") {\n    message.payload.data.message = \"Too bright for lights now!\";\n    newmsg.payload = \"off\";\n    return [[newmsg], [message]];\n} else if (msg.state === \"dark\") {\n    message.payload.data.message = \"It's dark so turning on some lights.\";\n    newmsg.payload = \"on\";\n    return [[newmsg], [message]];\n}\nmessage.payload.data.message = \"Indeterminate outside must be in another universe!\";\nnewmsg.payload = \"on\";\nreturn [[newmsg], [message]];\n\n\n","outputs":2,"noerr":0,"x":353,"y":320,"wires":[["e72d3017.68dd3","6ae2c62f.831908"],["cdfada7a.8e0268"]]},{"id":"e72d3017.68dd3","type":"api-current-state","z":"421f876.1f97178","name":"Anyone Home","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"sensor.house_occupancy_status","x":525,"y":271,"wires":[["98b5ca09.80e8d8","6ae2c62f.831908"]]},{"id":"c4c5f320.a369c","type":"comment","z":"421f876.1f97178","name":"Common lights when dark","info":"","x":475,"y":231,"wires":[]},{"id":"4770693f.2bd7d8","type":"switch","z":"421f876.1f97178","name":"","property":"state","propertyType":"msg","rules":[{"t":"eq","v":"dark","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":910,"y":60,"wires":[["f8054730.2e5978"]]},{"id":"98b5ca09.80e8d8","type":"debug","z":"421f876.1f97178","name":"home?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":695,"y":231,"wires":[]},{"id":"6ae2c62f.831908","type":"join","z":"421f876.1f97178","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":675,"y":311,"wires":[["8dbd3e6f.68963","c3e985d0.85d4f8"]]},{"id":"8dbd3e6f.68963","type":"function","z":"421f876.1f97178","name":"on/off?","func":"function arrayContains(needle, arrhaystack)\n{\n    return (arrhaystack.indexOf(needle) > -1);\n}\n\nvar newmsg = {\n    payload : {\n        domain: \"homeassistant\",\n        service : {}\n    }\n}\nif ((arrayContains(\"Just Arrived\", msg.payload) || arrayContains(\"Home\", msg.payload)) && arrayContains(\"on\", msg.payload)) {\n    newmsg.payload.service = \"turn_on\";\n    return [[newmsg], [null]];\n\n} else {\n    newmsg.payload.service = \"turn_off\"\n    return [[null], [newmsg]];\n}\n","outputs":2,"noerr":0,"x":795,"y":311,"wires":[["be94f96c.76b4b8"],["67129b8f.cd44f4"]]},{"id":"67129b8f.cd44f4","type":"api-call-service","z":"421f876.1f97178","name":"Common Lights Off","server":"5ed55cb1.3cf4b4","service_domain":"homeassistant","service":"turn_off","data":"{\"entity_id\":\"group.common_lights\"}","x":955,"y":340,"wires":[]},{"id":"c3e985d0.85d4f8","type":"debug","z":"421f876.1f97178","name":"joined?","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":885,"y":231,"wires":[]},{"id":"f72bb4bb.fc3c68","type":"light-scheduler","z":"421f876.1f97178","settings":"e234b5a3.997ec8","events":"[{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":570}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":570}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":570}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":960},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":960},\"end\":{\"dow\":1,\"mod\":360}}]","topic":"","name":"dark?","onPayload":"on","onPayloadType":"str","offPayload":"off","offPayloadType":"str","onlyWhenDark":true,"sunElevationThreshold":"1","sunShowElevationInStatus":true,"outputfreq":"output.statechange","x":365,"y":100,"wires":[["bb603c4c.23bb3"]]},{"id":"d49a38ea.5b9558","type":"change","z":"421f876.1f97178","name":"state","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":100,"wires":[["f72bb4bb.fc3c68"]]},{"id":"427251f1.a848c","type":"join","z":"421f876.1f97178","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":607,"y":60,"wires":[["d83c5333.77848"]]},{"id":"d83c5333.77848","type":"function","z":"421f876.1f97178","name":"turn on?","func":"var newmsg = {\n    state : {}\n}\nif (msg.payload[0] === \"on\" && msg.payload[1] === \"on\") {\n    newmsg.state = \"dark\";\n    node.status({fill:\"darkblue\",shape:\"dot\",text:\"It's dark\"});\n} else {\n    newmsg.state = \"light\";\n    node.status({fill:\"lightblue\",shape:\"dot\",text:\"Not Dark\"});\n}\nreturn newmsg;","outputs":1,"noerr":0,"x":731,"y":60,"wires":[["4770693f.2bd7d8","902663cd.69641"]]},{"id":"bb603c4c.23bb3","type":"function","z":"421f876.1f97178","name":"Is it dark?","func":"if (msg.payload === \"on\") {\n    node.status({text : \"It's dark\"})\n} else {\n    node.status({text : \"Still light out\"})\n}\nreturn msg;","outputs":1,"noerr":0,"x":489,"y":100,"wires":[["427251f1.a848c"]]},{"id":"8ab9d4cd.91d168","type":"server-state-changed","z":"76c15f10.6ec1d","name":"Back Door Sensor","server":"5ed55cb1.3cf4b4","entityidfilter":"binary_sensor.door_window_sensor_158d00020117e4","haltifstate":"off","x":110,"y":80,"wires":[["16e279d0.3dd456","91810375.e0776","3a7a5946.1bb636"]]},{"id":"81d05283.e68c5","type":"api-call-service","z":"76c15f10.6ec1d","name":"Upper Main Stripper On","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.upper_main_stripper\" }","x":810,"y":180,"wires":[]},{"id":"f49ae8b5.063798","type":"api-current-state","z":"76c15f10.6ec1d","name":"main_ceiling off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.main_ceiling","x":330,"y":200,"wires":[["26dac974.5437e6"]]},{"id":"fd0061c7.5ab6d","type":"api-current-state","z":"76c15f10.6ec1d","name":"cooking_ceiling Off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.cooking_ceiling","x":340,"y":240,"wires":[["26dac974.5437e6"]]},{"id":"16e279d0.3dd456","type":"function","z":"76c15f10.6ec1d","name":"notify","func":"function createNewMessage(msgs) {\n    msg = {\n        payload : {\n            domain : \"notify\",\n            service : \"squiggley\",\n            data : {\n                message : msgs\n            }\n        } \n    };\n\n    return msg;\n}\nif (msg.payload === \"on\") {\n    return createNewMessage(\"Back door opened\")\n} else if (msg.payload === \"off\") {\n    return createNewMessage(\"Back door closed\")\n}\nreturn createNewMessage(\"Back sensor payload \"+ msg.payload)\n","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["4a7c4b2c.7e9aa4"]]},{"id":"4a7c4b2c.7e9aa4","type":"api-call-service","z":"76c15f10.6ec1d","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"Backdoor sensor\"}","x":440,"y":140,"wires":[]},{"id":"429bc43f.99addc","type":"delay","z":"76c15f10.6ec1d","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":480,"wires":[["9c6775af.e05438","d827b032.8616b","40667996.2d12d8","69ba4c5a.4e8824","ac006f49.e64b6"]]},{"id":"b0bba8c4.e6e918","type":"comment","z":"76c15f10.6ec1d","name":"Kitchen lights","info":"","x":130,"y":20,"wires":[]},{"id":"31070cfe.6ff654","type":"mqtt in","z":"76c15f10.6ec1d","name":"Spiral Lights","topic":"spiral/#","qos":"0","broker":"feaffb51.2d5958","x":90,"y":720,"wires":[["8bb7bbce.f712c8"]]},{"id":"5b22efbb.e44cd","type":"function","z":"76c15f10.6ec1d","name":"on/off/brightness","func":"function createNewMessage(id, serviceToCall) {\n    var msg = {\n        payload : {\n            domain : \"switch\",\n            service : serviceToCall,\n            data : {\n                entity_id : id\n            }\n        } \n    };\n    return msg;\n}\n\nvar result = {};\n\nif (msg.topic === \"spiral/command/power\") {\n    if (msg.payload.state === \"ON\") {\n        var previousBrightness = flow.get('lightLevel') || 0;\n        var previousState = flow.get('lightState') || \"OFF\";\n        flow.set('lightState', msg.payload.state);\n        if (msg.payload.brightness === undefined || previousState === \"OFF\") {\n            return createNewMessage(\"switch.kitchen_spiral_lights\", \"turn_on\");\n        } else {\n            flow.set('lightLevel', msg.payload.brightness);\n            if (previousBrightness <= msg.payload.brightness){\n                return createNewMessage(\"switch.spiral_lights_brighter\", \"turn_on\");\n            } else {\n                return createNewMessage(\"switch.spiral_lights_darker\", \"turn_on\");\n            }\n        }\n    } else if (msg.payload.state === \"OFF\") {\n        flow.set('lightState', msg.payload.state);\n        return createNewMessage(\"switch.kitchen_spiral_lights\", \"turn_off\");\n    }    \n}\nreturn result.msg;","outputs":1,"noerr":0,"x":600,"y":720,"wires":[["34815c4.7c2a5a4"]]},{"id":"34815c4.7c2a5a4","type":"api-call-service","z":"76c15f10.6ec1d","name":"Kitchen Spiral Lights","server":"5ed55cb1.3cf4b4","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.kitchen_spiral_lights\"}","x":960,"y":720,"wires":[]},{"id":"8bb7bbce.f712c8","type":"json","z":"76c15f10.6ec1d","name":"","pretty":false,"x":250,"y":720,"wires":[["212dbc98.4780f4"]]},{"id":"297b0fe.58f54f","type":"color-convert","z":"76c15f10.6ec1d","input":"rgb","output":"css","outputType":"string","x":590,"y":766,"wires":[["ccf592a3.506e5"]]},{"id":"212dbc98.4780f4","type":"function","z":"76c15f10.6ec1d","name":"Activate Colour?","func":"if (msg.payload.color !== undefined){\n    var result = {\n        payload : {\n            rgb : true,\n            red : msg.payload.color.r,\n            green : msg.payload.color.g,\n            blue : msg.payload.color.b\n        }\n    };\n    return [null, result];\n}\nreturn [msg, null];","outputs":"2","noerr":0,"x":400,"y":720,"wires":[["5b22efbb.e44cd"],["297b0fe.58f54f"]]},{"id":"ccf592a3.506e5","type":"function","z":"76c15f10.6ec1d","name":"colour change","func":"function createNewMessage(id, serviceToCall) {\n    var msg = {\n        payload : {\n            domain : \"switch\",\n            service : \"turn_on\",\n            data : {\n                entity_id : \"switch.\"+id\n            }\n        } \n    };\n    return msg;\n}\n\nvar colorFunctions = {\n    white: \"spiral_lights_white\",\n    crimson: \"spiral_lights_darkred\", \n    red: \"spiral_lights_red\", \n    orangered: \"spiral_lights_red\", \n\n    darkorange: \"spiral_lights_orange\", \n\n    gold: \"spiral_lights_lightorange:\", \n    \n    yellow: \"spiral_lights_yellow\", \n    greenyellow: \"spiral_lights_yellow\", \n    \n    lime: \"spiral_lights_darkgreen\", \n    springgreen: \"spiral_lights_darkgreen\", \n    lawngreen: \"spiral_lights_green\", \n    turquoise: \"spiral_lights_turquoise\", \n    mediumspringgreen: \"spiral_lights_turquoise\", \n\n    blue: \"spiral_lights_darkblue\", \n    dodgerblue: \"spiral_lights_blue\", \n    deepskyblue: \"spiral_lights_lightblue\", \n    cyan: \"spiral_lights_lightblue\", \n    \n\n    darkviolet: \"spiral_lights_darkpurple\", \n    magenta: \"spiral_lights_purple\",\n    deeppink: \"spiral_lights_pink\",\n    lightpink: \"spiral_lights_lightpink\",\n};\n\nvar func = colorFunctions[msg.payload];\nif (func !== undefined) {\n    return createNewMessage(func);\n}\n    \n\nreturn msg;","outputs":1,"noerr":0,"x":772,"y":765,"wires":[["34815c4.7c2a5a4"]]},{"id":"f273ec6c.daaee","type":"comment","z":"76c15f10.6ec1d","name":"Kitchen wall lights","info":"","x":110,"y":680,"wires":[]},{"id":"b3fb5c93.9abea","type":"light-scheduler","z":"76c15f10.6ec1d","settings":"e234b5a3.997ec8","events":"[{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":570}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":570}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":570}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":960},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":960},\"end\":{\"dow\":1,\"mod\":360}}]","topic":"","name":"dark?","onPayload":"on","onPayloadType":"str","offPayload":"off","offPayloadType":"str","onlyWhenDark":true,"sunElevationThreshold":"1","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":430,"y":100,"wires":[["3ed5c15f.ede4de"]]},{"id":"91810375.e0776","type":"change","z":"76c15f10.6ec1d","name":"state","rules":[{"t":"set","p":"payload","pt":"msg","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":100,"wires":[["b3fb5c93.9abea"]]},{"id":"3a7a5946.1bb636","type":"join","z":"76c15f10.6ec1d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":80,"wires":[["cdaa79b9.d7dac8"]]},{"id":"cdaa79b9.d7dac8","type":"function","z":"76c15f10.6ec1d","name":"turn on?","func":"var newmsg = {\n    state : {}\n}\nif (msg.payload[0] === \"on\" && msg.payload[1] === \"on\") {\n    newmsg.state = \"dark\";\n    node.status({fill:\"darkblue\",shape:\"dot\",text:\"It's dark\"});\n} else {\n    newmsg.state = \"light\";\n    node.status({fill:\"lightblue\",shape:\"dot\",text:\"Not Dark\"});\n}\nreturn newmsg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[["b0088c2f.9c097"]]},{"id":"3ed5c15f.ede4de","type":"function","z":"76c15f10.6ec1d","name":"Is it dark?","func":"if (msg.payload === \"on\") {\n    node.status({text : \"It's dark\"})\n} else {\n    node.status({text : \"Still light out\"})\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["3a7a5946.1bb636"]]},{"id":"71cf135.f5b23ec","type":"comment","z":"40da9d9f.9148d4","name":"Extended Away Check","info":"If we have been Away for 24 hrs change to Extended Away\n","x":120,"y":660,"wires":[]},{"id":"e46b0ffd.596f8","type":"bigtimer","z":"d71c67f7.8fae88","outtopic":"","outpayload1":"online","outpayload2":"offline","name":"Heating Off Weekday Nights","lat":"55.937008","lon":"-3.2777648","starttime":"1410","endtime":"1410","startoff":"0","endoff":"0","offs":0,"outtext1":"online","outtext2":"offline","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":140,"y":360,"wires":[["6efb7764.b7ff28"],[],[]]},{"id":"2ba60339.fd8d9c","type":"bigtimer","z":"d71c67f7.8fae88","outtopic":"","outpayload1":"online","outpayload2":"offline","name":"Heating Off Weekend Nights","lat":"55.937008","lon":"-3.2777648","starttime":"60","endtime":"60","startoff":"0","endoff":0,"offs":0,"outtext1":"online","outtext2":"offline","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":140,"y":440,"wires":[["6efb7764.b7ff28"],[],[]]},{"id":"f24d299b.872888","type":"comment","z":"d71c67f7.8fae88","name":"seems a little unstable at turning off so try again later to make sure","info":"","x":260,"y":320,"wires":[]},{"id":"795cadec.ff1814","type":"light-scheduler","z":"421f876.1f97178","settings":"e234b5a3.997ec8","events":"[{\"start\":{\"dow\":2,\"mod\":0},\"end\":{\"dow\":2,\"mod\":570}},{\"start\":{\"dow\":3,\"mod\":0},\"end\":{\"dow\":3,\"mod\":570}},{\"start\":{\"dow\":4,\"mod\":0},\"end\":{\"dow\":4,\"mod\":570}},{\"start\":{\"dow\":5,\"mod\":0},\"end\":{\"dow\":5,\"mod\":570}},{\"start\":{\"dow\":6,\"mod\":0},\"end\":{\"dow\":6,\"mod\":570}},{\"start\":{\"dow\":0,\"mod\":0},\"end\":{\"dow\":0,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":0},\"end\":{\"dow\":1,\"mod\":570}},{\"start\":{\"dow\":1,\"mod\":960},\"end\":{\"dow\":2,\"mod\":0}},{\"start\":{\"dow\":2,\"mod\":960},\"end\":{\"dow\":3,\"mod\":0}},{\"start\":{\"dow\":3,\"mod\":960},\"end\":{\"dow\":4,\"mod\":0}},{\"start\":{\"dow\":4,\"mod\":960},\"end\":{\"dow\":5,\"mod\":0}},{\"start\":{\"dow\":5,\"mod\":960},\"end\":{\"dow\":6,\"mod\":0}},{\"start\":{\"dow\":6,\"mod\":960},\"end\":{\"dow\":0,\"mod\":0}},{\"start\":{\"dow\":0,\"mod\":960},\"end\":{\"dow\":1,\"mod\":360}}]","topic":"","name":"dark?","onPayload":"on","onPayloadType":"str","offPayload":"off","offPayloadType":"str","onlyWhenDark":true,"sunElevationThreshold":"0","sunShowElevationInStatus":true,"outputfreq":"output.statechange.startup","x":50,"y":320,"wires":[["b64e2783.e9ce98"]]},{"id":"b64e2783.e9ce98","type":"function","z":"421f876.1f97178","name":"Is it dark?","func":"var newmsg = {\n    state : {}\n}\nif (msg.payload === \"on\") {\n    newmsg.state = \"dark\";\n    node.status({fill:\"darkblue\",shape:\"dot\",text:\"It's dark\"});\n} else {\n    newmsg.state = \"light\";\n    node.status({fill:\"lightblue\",shape:\"dot\",text:\"Not Dark\"});\n}\nreturn newmsg;\n","outputs":1,"noerr":0,"x":174,"y":320,"wires":[["902663cd.69641"]]},{"id":"8905ae0e.1c461","type":"comment","z":"421f876.1f97178","name":"When front door opens","info":"","x":440,"y":20,"wires":[]},{"id":"4b238889.726f18","type":"comment","z":"40da9d9f.9148d4","name":"TODO move to subflow for reuse","info":"","x":293,"y":552,"wires":[]},{"id":"fc96373a.3ad428","type":"comment","z":"40da9d9f.9148d4","name":"TODO move to subflow for reuse","info":"","x":135,"y":107,"wires":[]},{"id":"66a776b5.0546f8","type":"config","z":"40da9d9f.9148d4","name":"People","properties":[{"p":"people","pt":"flow","to":"[{\"name\":\"Squiggley\",\"status\":\"\",\"timestamp\":null},{\"name\":\"Wee Bear\",\"status\":\"\",\"timestamp\":null}]","tot":"json"}],"active":true,"x":100,"y":600,"wires":[]},{"id":"f4f17377.c7f7a","type":"api-call-service","z":"40da9d9f.9148d4","name":"Notify Squiggley","server":"5ed55cb1.3cf4b4","service_domain":"notify","service":"squiggley","data":"{ \"message\":\"unset message\"}","x":520,"y":700,"wires":[]},{"id":"168c7b32.234d15","type":"inject","z":"40da9d9f.9148d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":700,"wires":[["194d306.30421d"]]},{"id":"70d9cda2.724914","type":"change","z":"40da9d9f.9148d4","name":"state","rules":[{"t":"set","p":"state.squiggley","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":160,"wires":[[]]},{"id":"194d306.30421d","type":"function","z":"40da9d9f.9148d4","name":"Extended Away Check","func":"Date.prototype.addHours=function(h){\n    this.setHours(this.getHours()+h);\n    return this;\n}\n\nvar people = flow.get(\"people\");\nnode.warn ({text : people});\nfunction houseEmptyFor(hours){\n    for (var i=0; i < people.length; i++) {\n        var person = people[i];\n        if (person !== undefined) {\n            if (person.timestamp !== null){\n                if (new Date().addHours(hours) < person.timestamp){\n                    return false;\n                }\n            }\n        }\n    }\n    return true;\n}\n\nvar notifyMsg = {\n    payload : {\n        data : {\n            message : \"\"\n        }\n    }\n}\n\nvar emptyHours = 1;\nif (houseEmptyFor(-emptyHours)){\n    notifyMsg.payload.data.message = \"House has been empty for \" + emptyHours + \" hours. Setting to Extended Away\";\n} else {\n    notifyMsg.payload.data.message = \"House not empty for \" + emptyHours + \" hours.\";\n}\nreturn notifyMsg;","outputs":1,"noerr":0,"x":300,"y":700,"wires":[["f4f17377.c7f7a"]]},{"id":"1664184e.1e01f8","type":"function","z":"40da9d9f.9148d4","name":"Update people","func":"var people = flow.get(\"people\");\n\nfor (var i=0; i < people.length; i++) {\n    var person = people[i];\n    if (person !== undefined && person.name === msg.name) {\n        person.status = msg.status;\n        person.timestamp = msg.timestamp;\n        flow.set(\"people\", people)\n        return msg;        \n    }\n}\n \npeople.push(msg);\nflow.set(\"people\", people)\nreturn msg;        \n","outputs":1,"noerr":0,"x":980,"y":380,"wires":[[]]},{"id":"e12ae52f.c7c5c8","type":"inject","z":"40da9d9f.9148d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":600,"wires":[["c75cecb3.f497a"]]},{"id":"c75cecb3.f497a","type":"function","z":"40da9d9f.9148d4","name":"Extended Away Check","func":"Date.prototype.addHours=function(h){\n    this.setHours(this.getHours()+h);\n    return this;\n}\n\nvar people = flow.get(\"people\");\nnode.warn ({text : people});\nfunction houseEmptyFor(hours){\n    for (var i=0; i < people.length; i++) {\n        var person = people[i];\n        if (person !== undefined) {\n            if (person.timestamp !== null){\n                if (new Date().addHours(hours) < person.timestamp){\n                    return false;\n                }\n            }\n        }\n    }\n    return true;\n}\n\nvar notifyMsg = {\n    payload : {\n        data : {\n            message : \"\"\n        }\n    }\n}\n\nvar emptyHours = 1;\nif (houseEmptyFor(-emptyHours)){\n    notifyMsg.payload.data.message = \"House has been empty for \" + emptyHours + \" hours. Setting to Extended Away\";\n} else {\n    notifyMsg.payload.data.message = \"House not empty for \" + emptyHours + \" hours.\";\n}\nreturn notifyMsg;","outputs":1,"noerr":0,"x":520,"y":600,"wires":[[]]},{"id":"b0088c2f.9c097","type":"function","z":"76c15f10.6ec1d","name":"GenMsg","func":"var newmsg = {\n    payload : {\n    }\n};\n\nvar message = {\n    payload : {\n        data : {\n        }\n    }\n};\n\nif (msg.state === \"light\") {\n    return [[null] [null]];\n} else if (msg.state === \"dark\") {\n    message.payload.data.message = \"It's dark so turning on some lights.\";\n    newmsg.payload = \"on\";\n    return [[newmsg], [message]];\n}\nmessage.payload.data.message = \"Indeterminate outside must be in another universe!\";\nnewmsg.payload = \"on\";\nreturn [[newmsg], [message]];\n\n\n","outputs":2,"noerr":0,"x":80,"y":360,"wires":[["f49ae8b5.063798","fd0061c7.5ab6d","f9730f14.1ea7b","112f1aa8.3bcf65","9e2dc508.7b60b8","381c689b.5dacb8","3386ac86.b69174","5587c67d.453818","624c5fee.3f986"],[]]},{"id":"f9730f14.1ea7b","type":"api-current-state","z":"76c15f10.6ec1d","name":"bench_ceiling Off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.bench_ceiling","x":330,"y":280,"wires":[["26dac974.5437e6"]]},{"id":"112f1aa8.3bcf65","type":"api-current-state","z":"76c15f10.6ec1d","name":"table_ceiling Off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.table_ceiling","x":330,"y":320,"wires":[["26dac974.5437e6"]]},{"id":"9e2dc508.7b60b8","type":"api-current-state","z":"76c15f10.6ec1d","name":"upper main stripper Off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.upper_main_stripper","x":350,"y":360,"wires":[["26dac974.5437e6"]]},{"id":"26dac974.5437e6","type":"join","z":"76c15f10.6ec1d","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"7","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":360,"wires":[["81d05283.e68c5","429bc43f.99addc","51268f5d.1a247","bf7c5a7.ac383a8","1ca6d3e8.d7b2cc","39e56e89.479592"]]},{"id":"381c689b.5dacb8","type":"api-current-state","z":"76c15f10.6ec1d","name":"upper cooking stripper Off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.upper_cooking_stripper","x":360,"y":440,"wires":[["26dac974.5437e6"]]},{"id":"3386ac86.b69174","type":"api-current-state","z":"76c15f10.6ec1d","name":"backdoor stripper Off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.backdoor_stripper","x":340,"y":520,"wires":[["26dac974.5437e6"]]},{"id":"624c5fee.3f986","type":"api-current-state","z":"76c15f10.6ec1d","name":"lower main stripper Off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.lower_main_stripper","x":350,"y":400,"wires":[["26dac974.5437e6"]]},{"id":"5587c67d.453818","type":"api-current-state","z":"76c15f10.6ec1d","name":"lower cooking stripper Off?","server":"5ed55cb1.3cf4b4","halt_if":"on","entity_id":"light.lower_cooking_stripper","x":360,"y":480,"wires":[["26dac974.5437e6"]]},{"id":"51268f5d.1a247","type":"api-call-service","z":"76c15f10.6ec1d","name":"Lower Main Stripper On","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.lower_main_stripper\" }","x":810,"y":220,"wires":[]},{"id":"1ca6d3e8.d7b2cc","type":"api-call-service","z":"76c15f10.6ec1d","name":"Lower Cooking Stripper On","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.lower_cooking_stripper\" }","x":820,"y":300,"wires":[]},{"id":"bf7c5a7.ac383a8","type":"api-call-service","z":"76c15f10.6ec1d","name":"Upper Cooking Stripper On","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.upper_cooking_stripper\" }","x":820,"y":260,"wires":[]},{"id":"39e56e89.479592","type":"api-call-service","z":"76c15f10.6ec1d","name":"Backgoor Stripper On","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.backdoor_stripper\" }","x":800,"y":340,"wires":[]},{"id":"9c6775af.e05438","type":"api-call-service","z":"76c15f10.6ec1d","name":"Upper Main Stripper off","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.upper_main_stripper\" }","x":970,"y":400,"wires":[]},{"id":"d827b032.8616b","type":"api-call-service","z":"76c15f10.6ec1d","name":"Lower Main Stripper Off","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.lower_main_stripper\" }","x":970,"y":440,"wires":[]},{"id":"69ba4c5a.4e8824","type":"api-call-service","z":"76c15f10.6ec1d","name":"Lower Cooking Stripper Off","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.lower_cooking_stripper\" }","x":980,"y":520,"wires":[]},{"id":"40667996.2d12d8","type":"api-call-service","z":"76c15f10.6ec1d","name":"Upper Cooking Stripper Off","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.upper_cooking_stripper\" }","x":980,"y":480,"wires":[]},{"id":"ac006f49.e64b6","type":"api-call-service","z":"76c15f10.6ec1d","name":"Backgoor Stripper Off","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.backdoor_stripper\" }","x":960,"y":560,"wires":[]},{"id":"e02625fd.b27e78","type":"debug","z":"80986a73.cdb938","name":"joined","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":240,"wires":[]},{"id":"8d7e3ac.d83acc8","type":"debug","z":"80986a73.cdb938","name":"stop","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":240,"wires":[]},{"id":"ed038d25.addbe","type":"function","z":"80986a73.cdb938","name":"Save Light state","func":"flow.set(msg.data.entity_id, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":620,"wires":[["bdfd18e5.c7b788"]]},{"id":"b4ea87fc.13b298","type":"function","z":"80986a73.cdb938","name":"was door on?","func":"msg.payload = flow.get(\"light.livingroom_door\");\nreturn msg;\n","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["6b16819f.cd3f","ae3dbebe.536c9"]]},{"id":"6b16819f.cd3f","type":"switch","z":"80986a73.cdb938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":340,"wires":[["ccfb0140.8c1a8"]]},{"id":"ae3dbebe.536c9","type":"debug","z":"80986a73.cdb938","name":"loaded","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":280,"wires":[]},{"id":"d2790a4b.129e28","type":"api-current-state","z":"80986a73.cdb938","name":"Big Couch On?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.big_couch","x":140,"y":600,"wires":[["ed038d25.addbe"]]},{"id":"ed9154d8.5c9f18","type":"debug","z":"80986a73.cdb938","name":"playing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":460,"y":20,"wires":[]},{"id":"abce2db0.a1ce7","type":"change","z":"80986a73.cdb938","name":"clear","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"data","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":109,"wires":[["b3d7e8c8.ae11a8","9904274c.aa29e8","2e41dd54.aefca2","5053d622.cc8438"]]},{"id":"2a62556d.fc09fa","type":"api-current-state","z":"80986a73.cdb938","name":"Small Couch On?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.small_couch","x":150,"y":640,"wires":[["ed038d25.addbe"]]},{"id":"f6f28480.b15f48","type":"api-current-state","z":"80986a73.cdb938","name":"Door On?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.livingroom_door","x":120,"y":560,"wires":[["ed038d25.addbe"]]},{"id":"d766831f.d7806","type":"api-current-state","z":"80986a73.cdb938","name":"Small Couch On?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.telly_lamp","x":150,"y":680,"wires":[["ed038d25.addbe"]]},{"id":"9904274c.aa29e8","type":"api-current-state","z":"80986a73.cdb938","name":"Big Couch On?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.big_couch","x":760,"y":80,"wires":[["879921d2.b2688","71009528.c9478c"]]},{"id":"2e41dd54.aefca2","type":"api-current-state","z":"80986a73.cdb938","name":"Small Couch On?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.small_couch","x":770,"y":140,"wires":[["fa963efc.15d6e"]]},{"id":"b3d7e8c8.ae11a8","type":"api-current-state","z":"80986a73.cdb938","name":"Door On?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.livingroom_door","x":740,"y":20,"wires":[["aca07b53.1431f8"]]},{"id":"5053d622.cc8438","type":"api-current-state","z":"80986a73.cdb938","name":"telly lamp On?","server":"5ed55cb1.3cf4b4","halt_if":"","entity_id":"light.telly_lamp","x":760,"y":200,"wires":[["efc87d11.834c7"]]},{"id":"879921d2.b2688","type":"api-call-service","z":"80986a73.cdb938","name":"off big couch","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.big_couch\",  \"transition\" : \"20\" }","x":950,"y":80,"wires":[]},{"id":"fa963efc.15d6e","type":"api-call-service","z":"80986a73.cdb938","name":"off small couch","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.small_couch\", \"transition\" : \"20\" }","x":960,"y":140,"wires":[]},{"id":"efc87d11.834c7","type":"api-call-service","z":"80986a73.cdb938","name":"off door","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_off","data":"{ \"entity_id\" : \"light.telly_lamp\", \"transition\" : \"20\" }","x":940,"y":200,"wires":[]},{"id":"25dc340a.f0315c","type":"function","z":"80986a73.cdb938","name":"was big couch on?","func":"msg.payload = flow.get(\"light.big_couch\");\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["6af46a70.ce2264"]]},{"id":"5e7b1246.0d435c","type":"function","z":"80986a73.cdb938","name":"was small couch on?","func":"msg.payload = flow.get(\"light.small_couch\");\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":460,"wires":[["c8f44085.99f"]]},{"id":"d1548957.8911d8","type":"function","z":"80986a73.cdb938","name":"was telly lamp on?","func":"msg.payload = flow.get(\"light.telly_lamp\");\nreturn msg;\n","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["8b87cfde.b04ce"]]},{"id":"166e6ace.7cd605","type":"api-call-service","z":"80986a73.cdb938","name":"Door 50%","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.livingroom_door\", \"brightness_pct\" : \"50\", \"transition\" : \"20\" }","x":1040,"y":340,"wires":[]},{"id":"99a1b08d.807fc","type":"delay","z":"80986a73.cdb938","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":400,"wires":[["db9e3c42.80743"]]},{"id":"6af46a70.ce2264","type":"switch","z":"80986a73.cdb938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":400,"wires":[["99a1b08d.807fc"]]},{"id":"722398fc.92f538","type":"delay","z":"80986a73.cdb938","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":460,"wires":[["3bee69b8.f25866"]]},{"id":"c8f44085.99f","type":"switch","z":"80986a73.cdb938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":460,"wires":[["722398fc.92f538"]]},{"id":"a3a63f73.2c00f","type":"delay","z":"80986a73.cdb938","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":900,"y":520,"wires":[["49d9d90f.6a57e8"]]},{"id":"8b87cfde.b04ce","type":"switch","z":"80986a73.cdb938","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":520,"wires":[["a3a63f73.2c00f"]]},{"id":"db9e3c42.80743","type":"api-call-service","z":"80986a73.cdb938","name":"Big Couch 50%","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.big_couch\", \"brightness_pct\" : \"50\", \"transition\" : \"20\" }","x":1060,"y":400,"wires":[]},{"id":"3bee69b8.f25866","type":"api-call-service","z":"80986a73.cdb938","name":"Small Couch 50%","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.small_couch\", \"brightness_pct\" : \"50\", \"transition\" : \"20\" }","x":1070,"y":460,"wires":[]},{"id":"49d9d90f.6a57e8","type":"api-call-service","z":"80986a73.cdb938","name":"telly lamp 50%","server":"5ed55cb1.3cf4b4","service_domain":"light","service":"turn_on","data":"{ \"entity_id\" : \"light.telly_lamp\", \"brightness_pct\" : \"50\", \"transition\" : \"20\" }","x":1060,"y":520,"wires":[]},{"id":"bdfd18e5.c7b788","type":"debug","z":"80986a73.cdb938","name":"Saved state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":620,"wires":[]},{"id":"71009528.c9478c","type":"debug","z":"80986a73.cdb938","name":"couch","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1050,"y":40,"wires":[]}]